In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

# Helper functions

In [31]:
def print_long_string(string, indent=0, max_words_per_line=10):
    """
    :param string: str
    :param indent: int
    :param max_words_per_line: int
    :return: None
    """
    words = [" "*indent]
    for i, word in enumerate(string.split()):
        words.append(word)
        if (i+1) % max_words_per_line == 0:
            words.append("\n" + " "*indent)
    print(" ".join(words))
    return None


def print_col_desc(df, table_name, col_desc_df):
    """
    To print out the information of columns of df. This information is taken from col_desc_df
    :param df: dataframe
    :param table_name: str
    :param col_desc_table:
    :return: None
    """
    nrows = df.shape[0]
    all_cols = df.columns.to_list()
    cat_cols = df.select_dtypes(["category", "object", "bool"]).columns.to_list()
    num_cols = [col for col in all_cols if col not in cat_cols]

    for i, col in enumerate(df.columns):
        mask = (col_desc_df["Table"] == table_name) & (col_desc_df["Row"] == col)
        print("Column Number:", i)
        print("Column Name:", col)
        print("Description:")

        if len(col_desc_df.loc[mask, :]) == 0:
            print(" " * 10 + "No Description, Maybe the column name does not match.")
        else:
            print_long_string(col_desc_df.loc[mask, "Description"].iloc[0], indent=10)
            print("Special:", col_desc_df.loc[mask, "Special"].iloc[0])

        print("Type:", df[col].dtype)
        n_null = np.sum(df[col].isnull())
        print("Number of rows:", nrows)
        print("Number of NULL(s):", n_null)
        print("Percent of NULL(s): %.2f%%" % (n_null / nrows * 100))

        nunique = df[col].nunique(dropna=False)
        print("Number of Unique Values:", nunique)
        if nunique <= 20:
            print_long_string(", ".join([str(s) for s in df[col].unique()]),
                                indent=28, max_words_per_line=5)
        else:
            print_long_string(", ".join([str(s) for s in df[col].unique()[:20]]) + " ...",
                                indent=28, max_words_per_line=5)

        if col in num_cols:
            print("Min:", df[col].min())
            print("Max:", df[col].max())
        else:
            print("Mode: ", df[col].mode().values)

        print("-" * 50 + "\n")
    return None


def change_dtypes(df):
    """
    change types of columns to reduce memory size
    :param df: dataframe
    :return df: dataframe
    """
    memory = df.memory_usage().sum() / 10**6
    print("Memory usage before changing types %0.2f MB" % memory)

    for col in df.columns:
        if (df[col].dtype == "object") and (df[col].nunique() < df.shape[0]):
            df[col] = df[col].astype("category")

        elif set(df[col].unique()) == set([0, 1]):
            df[col] = df[col].astype(bool)

        elif df[col].dtype == float:
            df[col] = df[col].astype(np.float32)

        elif df[col].dtype == int:
            df[col] = df[col].astype(np.int32)

    memory = df.memory_usage().sum() / 10 ** 6
    print("Memory usage after changing types %0.2f MB" % memory)
    return df

In [3]:
col_desc = pd.read_csv("data/download/HomeCredit_columns_description.csv", encoding="ISO-8859-1")

# `application_train.csv`

This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).

Static data for all applications. One row represents one loan in our data sample.

In [5]:
application_train = pd.read_csv("data/download/application_train.csv")
application_train = change_dtypes(application_train)
print("application_train.shape:", application_train.shape)
application_train.head()

Memory usage before changing types 300.13 MB
Memory usage after changing types 104.87 MB
application_train.shape: (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,False,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,False,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,False,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,False,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
application_train.shape

(307511, 122)

In [6]:
application_train.dtypes

SK_ID_CURR                       int32
TARGET                            bool
NAME_CONTRACT_TYPE            category
CODE_GENDER                   category
FLAG_OWN_CAR                  category
                                ...
AMT_REQ_CREDIT_BUREAU_DAY      float32
AMT_REQ_CREDIT_BUREAU_WEEK     float32
AMT_REQ_CREDIT_BUREAU_MON      float32
AMT_REQ_CREDIT_BUREAU_QRT      float32
AMT_REQ_CREDIT_BUREAU_YEAR     float32
Length: 122, dtype: object

In [7]:
application_train["SK_ID_CURR"].is_unique

True

In [32]:
print_col_desc(application_train, "application_{train|test}.csv", col_desc)

Column Number: 0
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 307511
                             100002, 100003, 100004, 100006, 100007,
                             100008, 100009, 100010, 100011, 100012,
                             100014, 100015, 100016, 100017, 100018,
                             100019, 100020, 100021, 100022, 100023
                             ...
Min: 100002
Max: 456255
--------------------------------------------------

Column Number: 1
Column Name: TARGET
Description:
           Target variable (1 - client with payment difficulties: he/she had
           late payment more than X days on at least one
           of the first Y installments of the loan in our
           sample, 0 - all other cases)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [False]
--------------------------------------------------

Column Number: 2
Column Name: NAME_CONTRACT_TYPE
Description:
           Identification if loan is cash or revolving
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             Cash loans, Revolving loans
Mode:  ['Cash loans']
Categories (2, object): ['Cash loans', 'Revolving loans']
--------------------------------------------------

Column Number: 3
Column Name: CODE_GENDER
Description:
           Gender of the client
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             M, F, XNA
Mode:  ['F']
Categories (3, object): ['F', 'M', 'XNA']
--------------------------------------------------

Column Number: 4
Column Name: FLAG_OWN_CAR
Description:
           Flag if the client owns a car
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             N, Y
Mode:  ['N']
Categories (2, object): ['N', 'Y']
--------------------------------------------------

Column Number: 5
Column Name: FLAG_OWN_REALTY
Description:
           Flag if client owns a house or flat
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             Y, N
Mode:  ['Y']
Categories (2, object): ['N', 'Y']
--------------------------------------------------

Column Number: 6
Column Name: CNT_CHILDREN
Description:
           Number of children the client has
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 15
                             0, 1, 2, 3, 4,
                             7, 5, 6, 8, 9,
                             11, 12, 10, 19, 14

Min: 0
Max: 19
--------------------------------------------------

Column Number: 7
Column Name: AMT_INCOME_TOTAL
Description:
           Income of the client
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2548
                             202500.0, 270000.0, 67500.0, 135000.0, 121500.0,
                             99000.0, 171000.0, 360000.0, 112500.0, 38419.156,
                             225000.0, 189000.0, 157500.0, 108000.0, 81000.0,
                             90000.0, 450000.0, 83250.0, 292500.0, 198000.0
                             ...
Min: 25650.0
Max: 117000000.0
--------------------------------------------------

Column Number: 8
Column Name: AMT_CREDIT
Description:
           Credit amount of the loan
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5603
                             406597.5, 1293502.5, 135000.0, 312682.5, 513000.0,
                             490495.5, 1560726.0, 1530000.0, 1019610.0, 405000.0,
                             652500.0, 148365.0, 80865.0, 918468.0, 773680.5,
                             299772.0, 509602.5, 270000.0, 157500.0, 544491.0
                             ...
Min: 45000.0
Max: 4050000.0
--------------------------------------------------

Column Number: 9
Column Name: AMT_ANNUITY
Description:
           Loan annuity
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 12
Percent of NULL(s): 0.00%
Number of Unique Values: 13673
                             24700.5, 35698.5, 6750.0, 29686.5, 21865.5,
                             27517.5, 41301.0, 42075.0, 33826.5, 20250.0,
                             21177.0, 10678.5, 5881.5, 28966.5, 32778.0,
                             20160.0, 26149.5, 13500.0, 7875.0, 17563.5
                             ...
Min: 1615.5
Max: 258025.5
--------------------------------------------------

Column Number: 10
Column Name: AMT_GOODS_PRICE
Description:
           For consumer loans it is the price of the goods
           for which the loan is given
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 278
Percent of NULL(s): 0.09%
Number of Unique Values: 1003
                             351000.0, 1129500.0, 135000.0, 297000.0, 513000.0,
                             454500.0, 1395000.0, 1530000.0, 913500.0, 405000.0,
                             652500.0, 67500.0, 697500.0, 679500.0, 247500.0,
                             387000.0, 270000.0, 157500.0, 427500.0, 927000.0
                             ...
Min: 40500.0
Max: 4050000.0
--------------------------------------------------

Column Number: 11
Column Name: NAME_TYPE_SUITE
Description:
           Who was accompanying client when he was applying for the
           loan
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 1292
Percent of NULL(s): 0.42%
Number of Unique Values: 8
                             Unaccompanied, Family, Spouse, partner, Children,
                             Other_A, nan, Other_B, Group of
                             people
Mode:  ['Unaccompanied']
Categories (7, object): ['Children', 'Family', 'Group of people', 'Other_A', 'Other_B', 'Spouse, partner', 'Unaccompanied']
--------------------------------------------------

Column Number: 12
Column Name: NAME_INCOME_TYPE
Description:
           Clients income type (businessman, working, maternity leave, )
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 8
                             Working, State servant, Commercial associate,
                             Pensioner, Unemployed, Student, Businessman, Maternity
                             leave
Mode:  ['Working']
Categories (8, object): ['Businessman', 'Commercial associate', 'Maternity leave', 'Pensioner', 'State servant', 'Student', 'Unemployed', 'Working']
--------------------------------------------------

Column Number: 13
Column Name: NAME_EDUCATION_TYPE
Description:
           Level of highest education the client achieved
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5
                             Secondary / secondary special, Higher
                             education, Incomplete higher, Lower secondary,
                             Academic degree
Mode:  ['Secondary / secondary special']
Categories (5, object): ['Academic degree', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special']
--------------------------------------------------

Column Number: 14
Column Name: NAME_FAMILY_STATUS
Description:
           Family status of the client
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6
                             Single / not married, Married,
                             Civil marriage, Widow, Separated, Unknown

Mode:  ['Married']
Categories (6, object): ['Civil marriage', 'Married', 'Separated', 'Single / not married', 'Unknown', 'Widow']
--------------------------------------------------

Column Number: 15
Column Name: NAME_HOUSING_TYPE
Description:
           What is the housing situation of the client (renting, living
           with parents, ...)
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6
                             House / apartment, Rented apartment,
                             With parents, Municipal apartment, Office
                             apartment, Co-op apartment
Mode:  ['House / apartment']
Categories (6, object): ['Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'With parents']
--------------------------------------------------

Column Number: 16
Column Name: REGION_POPULATION_RELATIVE
Description:
           Normalized population of region where client lives (higher number means
           the client lives in more populated region)
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 81
                             0.018801, 0.003541, 0.010032, 0.008019, 0.028663,
                             0.035792, 0.003122, 0.018634, 0.019689, 0.0228,
                             0.015221, 0.031329, 0.016612, 0.010006, 0.020713,
                             0.010966, 0.04622, 0.025164, 0.006296, 0.026392
                             ...
Min: 0.00029
Max: 0.072508
--------------------------------------------------

Column Number: 17
Column Name: DAYS_BIRTH
Description:
           Client's age in days at the time of application
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 17460
                             -9461, -16765, -19046, -19005, -19932,
                             -16941, -13778, -18850, -20099, -14469,
                             -10197, -20417, -13439, -14086, -14583,
                             -8728, -12931, -9776, -17718, -11348
                             ...
Min: -25229
Max: -7489
--------------------------------------------------

Column Number: 18
Column Name: DAYS_EMPLOYED
Description:
           How many days before the application the person started current
           employment
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 12574
                             -637, -1188, -225, -3039, -3038,
                             -1588, -3130, -449, 365243, -2019,
                             -679, -2717, -3028, -203, -1157,
                             -1317, -191, -7804, -2038, -4286
                             ...
Min: -17912
Max: 365243
--------------------------------------------------

Column Number: 19
Column Name: DAYS_REGISTRATION
Description:
           How many days before the application did client change his
           registration
Special: time only relative to the application
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 15688
                             -3648.0, -1186.0, -4260.0, -9833.0, -4311.0,
                             -4970.0, -1213.0, -4597.0, -7427.0, -14437.0,
                             -4427.0, -5246.0, -311.0, -643.0, -615.0,
                             -3494.0, -6392.0, -4143.0, -8751.0, -1021.0
                             ...
Min: -24672.0
Max: 0.0
--------------------------------------------------

Column Number: 20
Column Name: DAYS_ID_PUBLISH
Description:
           How many days before the application did client change the
           identity document with which he applied for the loan
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6168
                             -2120, -291, -2531, -2437, -3458,
                             -477, -619, -2379, -3514, -3992,
                             -738, -2512, -3227, -4911, -2056,
                             -1368, -3866, -2427, -1259, -3964
                             ...
Min: -7197
Max: 0
--------------------------------------------------

Column Number: 21
Column Name: OWN_CAR_AGE
Description:
           Age of client's car
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 202929
Percent of NULL(s): 65.99%
Number of Unique Values: 63
                             nan, 26.0, 17.0, 8.0, 23.0,
                             7.0, 14.0, 1.0, 3.0, 13.0,
                             10.0, 2.0, 21.0, 20.0, 22.0,
                             65.0, 5.0, 11.0, 9.0, 4.0
                             ...
Min: 0.0
Max: 91.0
--------------------------------------------------

Column Number: 22
Column Name: FLAG_MOBIL
Description:
           Did client provide mobile phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 23
Column Name: FLAG_EMP_PHONE
Description:
           Did client provide work phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 24
Column Name: FLAG_WORK_PHONE
Description:
           Did client provide home phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 25
Column Name: FLAG_CONT_MOBILE
Description:
           Was mobile phone reachable (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 26
Column Name: FLAG_PHONE
Description:
           Did client provide home phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [False]
--------------------------------------------------

Column Number: 27
Column Name: FLAG_EMAIL
Description:
           Did client provide email (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2

                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 28
Column Name: OCCUPATION_TYPE
Description:
           What kind of occupation does the client have
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 96391
Percent of NULL(s): 31.35%
Number of Unique Values: 19
                             Laborers, Core staff, Accountants, Managers,
                             nan, Drivers, Sales staff, Cleaning
                             staff, Cooking staff, Private service
                             staff, Medicine staff, Security staff,
                             High skill tech staff, Waiters/barmen
                             staff, Low-skill Laborers, Realty agents,
                             Secretaries, IT staff, HR staff

Mode:  ['Laborers']
Categories (18, object): ['Accountants', 'Cleaning staff', 'Cooking staff', 'Core staff', ..., 'Sales staff', 'Secretaries', 'Security staff', 'Waiters/barmen staff']
--------------------------------------------------

Column Number: 29
Column Name: CNT_FAM_MEMBERS
Description:
           How many family members does client have
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 2
Percent of NULL(s): 0.00%
Number of Unique Values: 18
                             1.0, 2.0, 3.0, 4.0, 5.0,
                             6.0, 9.0, 7.0, 8.0, 10.0,
                             13.0, nan, 14.0, 12.0, 20.0,
                             15.0, 16.0, 11.0
Min: 1.0
Max: 20.0
--------------------------------------------------

Column Number: 30
Column Name: REGION_RATING_CLIENT
Description:
           Our rating of the region where client lives (1,2,3)
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             2, 1, 3
Min: 1
Max: 3
--------------------------------------------------

Column Number: 31
Column Name: REGION_RATING_CLIENT_W_CITY
Description:
           Our rating of the region where client lives with taking
           city into account (1,2,3)
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             2, 1, 3
Min: 1
Max: 3
--------------------------------------------------

Column Number: 32
Column Name: WEEKDAY_APPR_PROCESS_START
Description:
           On which day of the week did the client apply
           for the loan
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 7
                             WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY,
                             FRIDAY, TUESDAY
Mode:  ['TUESDAY']
Categories (7, object): ['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']
--------------------------------------------------

Column Number: 33
Column Name: HOUR_APPR_PROCESS_START
Description:
           Approximately at what hour did the client apply for the
           loan
Special: rounded
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 24
                             10, 11, 9, 17, 16,
                             14, 8, 15, 7, 13,
                             6, 12, 19, 3, 18,
                             21, 4, 5, 20, 22
                             ...
Min: 0
Max: 23
--------------------------------------------------

Column Number: 34
Column Name: REG_REGION_NOT_LIVE_REGION
Description:
           Flag if client's permanent address does not match contact address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 35
Column Name: REG_REGION_NOT_WORK_REGION
Description:
           Flag if client's permanent address does not match work address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 36
Column Name: LIVE_REGION_NOT_WORK_REGION
Description:
           Flag if client's contact address does not match work address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 37
Column Name: REG_CITY_NOT_LIVE_CITY
Description:
           Flag if client's permanent address does not match contact address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 38
Column Name: REG_CITY_NOT_WORK_CITY
Description:
           Flag if client's permanent address does not match work address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 39
Column Name: LIVE_CITY_NOT_WORK_CITY
Description:
           Flag if client's contact address does not match work address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 40
Column Name: ORGANIZATION_TYPE
Description:
           Type of organization where client works
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 58
                             Business Entity Type 3, School,
                             Government, Religion, Other, XNA, Electricity,
                             Medicine, Business Entity Type 2,
                             Self-employed, Transport: type 2, Construction,
                             Housing, Kindergarten, Trade: type 7,
                             Industry: type 11, Military, Services,
                             Security Ministries, Transport: type 4
                             ...
Mode:  ['Business Entity Type 3']
Categories (58, object): ['Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', ..., 'Transport: type 3', 'Transport: type 4', 'University', 'XNA']
--------------------------------------------------

Column Number: 41
Column Name: EXT_SOURCE_1
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 173378
Percent of NULL(s): 56.38%
Number of Unique Values: 114585
                             0.08303697, 0.31126732, nan, 0.77476144, 0.58733404,
                             0.31976017, 0.72204447, 0.4648311, 0.72193974, 0.11563434,
                             0.5656549, 0.43770903, 0.5619484, 0.6003959, 0.29791352,
                             0.27442238, 0.8427635, 0.8045861, 0.46820804, 0.71042734
                             ...
Min: 0.014568132
Max: 0.9626928
--------------------------------------------------

Column Number: 42
Column Name: EXT_SOURCE_2
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 660
Percent of NULL(s): 0.21%
Number of Unique Values: 119832
                             0.2629486, 0.6222458, 0.5559121, 0.6504417, 0.3227383,
                             0.35422474, 0.72399986, 0.7142793, 0.20574729, 0.7466436,
                             0.6518623, 0.5551832, 0.7150418, 0.56690663, 0.6426562,
                             0.34663397, 0.23637784, 0.68351334, 0.7064284, 0.5866171
                             ...
Min: 8.173617e-08
Max: 0.85499966
--------------------------------------------------

Column Number: 43
Column Name: EXT_SOURCE_3
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 60965
Percent of NULL(s): 19.83%
Number of Unique Values: 815
                             0.13937578, nan, 0.7295667, 0.6212263, 0.4920601,
                             0.5406544, 0.7517237, 0.36394525, 0.6528965, 0.17665258,
                             0.77008706, 0.6785677, 0.062103037, 0.5567274, 0.47764915,
                             0.5424451, 0.35895124, 0.6690567, 0.56560796, 0.4614824
                             ...
Min: 0.00052726525
Max: 0.89600956
--------------------------------------------------

Column Number: 44
Column Name: APARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 2340
                             0.0247, 0.0959, nan, 0.0825, 0.1474,
                             0.3495, 0.0278, 0.0722, 0.0907, 0.1443,
                             0.1433, 0.0165, 0.1505, 0.0124, 0.367,
                             0.0928, 0.0948, 0.0814, 0.1309, 0.2186
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 45
Column Name: BASEMENTAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3781
                             0.0369, 0.0529, nan, 0.0973, 0.1335,
                             0.0617, 0.0801, 0.0795, 0.0848, 0.1455,
                             0.0147, 0.0089, 0.0838, 0.3751, 0.0804,
                             0.0792, 0.0994, 0.125, 0.1232, 0.0442
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 46
Column Name: YEARS_BEGINEXPLUATATION_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 286
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9781, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 47
Column Name: YEARS_BUILD_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 150
                             0.6192, 0.796, nan, 0.7348, 0.9796,
                             0.8368, 0.7008, 0.7076, 0.83, 0.8096,
                             0.7688, 0.6736, 0.9456, 0.7416, 0.7892,
                             0.728, 0.8436, 0.116, 0.7824, 0.8028
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 48
Column Name: COMMONAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3182
                             0.0143, 0.0605, nan, 0.0582, 0.1143,
                             0.0018, 0.012, 0.1064, 0.0212, 0.001,
                             0.0188, 0.0056, 0.0142, 0.0822, 0.0528,
                             0.0385, 0.0029, 0.0076, 0.0096, 0.013
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 49
Column Name: ELEVATORS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 258
                             0.0, 0.08, nan, 0.16, 0.4,
                             0.14, 0.28, 0.04, 0.24, 0.88,
                             0.32, 0.12, 0.4264, 0.36, 0.68,
                             0.56, 0.1332, 0.6, 0.2, 0.52
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 50
Column Name: ENTRANCES_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 286
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.1207, 0.3103, 0.4828,
                             0.0552, 0.3793, 0.3448, 0.1172, 0.2759,
                             0.1838, 0.2414, 0.1148, 0.1552, 0.4483
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 51
Column Name: FLOORSMAX_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 404
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4083,
                             0.4583, 0.1, 0.2083, 0.125, 0.0,
                             0.5833, 0.625, 0.9167, 0.9583, 0.3054
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 52
Column Name: FLOORSMIN_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 306
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.45,
                             0.0, 0.1417, 0.5, 0.625, 0.0833,
                             0.1667, 0.3471, 0.5208, 0.1042, 0.6667
                             ...

Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 53
Column Name: LANDAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3528
                             0.0369, 0.013, nan, 0.0135, 0.0931,
                             0.1758, 0.0279, 0.0534, 0.0898, 0.2371,
                             0.0861, 0.0498, 0.0265, 0.0872, 0.1569,
                             0.038, 0.0888, 0.0566, 0.1404, 0.0142
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 54
Column Name: LIVINGAPARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 1869
                             0.0202, 0.0773, nan, 0.1202, 0.2849,
                             0.0227, 0.0588, 0.0723, 0.1173, 0.1168,
                             0.121, 0.0672, 0.0656, 0.1059, 0.1774,
                             0.0958, 0.0992, 0.0698, 0.0756, 0.0101
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 55
Column Name: LIVINGAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5200
                             0.019, 0.0549, nan, 0.0778, 0.1397,
                             0.3774, 0.029, 0.0619, 0.0873, 0.1484,
                             0.1217, 0.067, 0.0094, 0.1412, 0.0149,
                             0.2574, 0.0602, 0.0637, 0.0582, 0.0922
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 56
Column Name: NONLIVINGAPARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 387
                             0.0, 0.0039, nan, 0.0193, 0.0077,
                             0.0019, 0.0656, 0.0058, 0.278, 0.0232,
                             0.0772, 0.1931, 0.0386, 0.0154, 0.2201,
                             0.0116, 0.027, 0.1622, 0.0309, 0.0425
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 57
Column Name: NONLIVINGAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3291
                             0.0, 0.0098, nan, 0.1001, 0.0044,
                             0.0007, 0.0043, 0.0061, 0.0436, 0.0227,
                             0.0078, 0.0051, 0.016, 0.0487, 0.0226,
                             0.0151, 0.0002, 0.0052, 0.0084, 0.021
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 58
Column Name: APARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 761
                             0.0252, 0.0924, nan, 0.084, 0.1502,
                             0.3561, 0.0284, 0.0735, 0.1261, 0.146,
                             0.0168, 0.1534, 0.0126, 0.3739, 0.0945,
                             0.0966, 0.083, 0.1334, 0.2227, 0.0441
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 59
Column Name: BASEMENTAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3842
                             0.0383, 0.0538, nan, 0.101, 0.1386,
                             0.064, 0.0831, 0.0825, 0.0754, 0.1509,
                             0.0153, 0.0092, 0.087, 0.3893, 0.0835,
                             0.0822, 0.1032, 0.1297, 0.1279, 0.0306
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 60
Column Name: YEARS_BEGINEXPLUATATION_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 222
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9782, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 61
Column Name: YEARS_BUILD_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 155
                             0.6341, 0.804, nan, 0.7452, 0.9804,
                             0.8432, 0.7125, 0.719, 0.8367, 0.8171,
                             0.7779, 0.6864, 0.9477, 0.7517, 0.7975,
                             0.7387, 0.8497, 0.0, 0.7909, 0.8105
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 62
Column Name: COMMONAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3129

                             0.0144, 0.0497, nan, 0.0587, 0.1153,
                             0.0018, 0.0121, 0.0, 0.0214, 0.001,
                             0.019, 0.0057, 0.0143, 0.083, 0.0533,
                             0.0388, 0.0029, 0.0006, 0.0097, 0.0131
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 63
Column Name: ELEVATORS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 27
                             0.0, 0.0806, nan, 0.1611, 0.4028,
                             0.1208, 0.282, 0.0403, 0.2417, 0.8862,
                             0.3222, 0.3625, 0.6848, 0.5639, 0.6042,
                             0.2014, 0.5236, 0.4431, 0.4834, 0.6445
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 64
Column Name: ENTRANCES_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 31
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.3103, 0.4828, 0.3793,
                             0.3448, 0.2759, 0.2414, 0.4483, 0.5172,
                             0.0, 0.5517, 0.4138, 0.6207, 0.6897
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 65
Column Name: FLOORSMAX_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 26
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4583,
                             0.2083, 0.125, 0.0, 0.5833, 0.625,
                             0.9167, 0.9583, 0.5417, 1.0, 0.4167
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 66
Column Name: FLOORSMIN_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 26
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.0,
                             0.5, 0.625, 0.0833, 0.1667, 0.6667,
                             0.25, 0.5833, 1.0, 0.9583, 0.5417
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 67
Column Name: LANDAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3564
                             0.0377, 0.0128, nan, 0.0138, 0.0952,
                             0.1798, 0.0286, 0.0546, 0.0918, 0.2425,
                             0.0881, 0.0509, 0.0271, 0.0892, 0.1604,
                             0.0389, 0.0908, 0.0579, 0.1436, 0.0145
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 68
Column Name: LIVINGAPARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 737
                             0.022, 0.079, nan, 0.1313, 0.3113,
                             0.0248, 0.0643, 0.1102, 0.1276, 0.1322,
                             0.0735, 0.0716, 0.1157, 0.1938, 0.1047,
                             0.1084, 0.0055, 0.0762, 0.0826, 0.011
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 69
Column Name: LIVINGAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5302
                             0.0198, 0.0554, nan, 0.081, 0.1456,
                             0.3932, 0.0302, 0.0645, 0.091, 0.0923,
                             0.1268, 0.0698, 0.0083, 0.1471, 0.0155,
                             0.2682, 0.0627, 0.0664, 0.0606, 0.096
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 70
Column Name: NONLIVINGAPARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 168
                             0.0, nan, 0.0195, 0.0078, 0.0039,
                             0.0661, 0.1556, 0.0233, 0.0778, 0.1946,
                             0.0389, 0.0156, 0.2218, 0.0117, 0.0272,
                             0.1634, 0.0311, 0.0428, 0.0623, 0.0506
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 71
Column Name: NONLIVINGAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3328
                             0.0, nan, 0.106, 0.0047, 0.0045,
                             0.0065, 0.0461, 0.0241, 0.0082, 0.0054,
                             0.0168, 0.0516, 0.0239, 0.016, 0.0002,
                             0.0055, 0.0222, 0.142, 0.0219, 0.0041
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 72
Column Name: APARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 1149

                             0.025, 0.0968, nan, 0.0833, 0.1489,
                             0.3529, 0.0281, 0.0729, 0.0916, 0.1457,
                             0.1447, 0.0167, 0.152, 0.0125, 0.3706,
                             0.0937, 0.0958, 0.0822, 0.1322, 0.2207
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 73
Column Name: BASEMENTAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3773
                             0.0369, 0.0529, nan, 0.0973, 0.1335,
                             0.0617, 0.0801, 0.0795, 0.0848, 0.1455,
                             0.0147, 0.0089, 0.0838, 0.3751, 0.0804,
                             0.0792, 0.0994, 0.125, 0.1232, 0.0408
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 74
Column Name: YEARS_BEGINEXPLUATATION_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 246
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9781, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 75
Column Name: YEARS_BUILD_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 152
                             0.6243, 0.7987, nan, 0.7383, 0.9799,
                             0.839, 0.7048, 0.7115, 0.8323, 0.8121,
                             0.7719, 0.678, 0.9463, 0.7451, 0.792,
                             0.7316, 0.8457, 0.0, 0.7853, 0.8054
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 76
Column Name: COMMONAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3203
                             0.0144, 0.0608, nan, 0.0585, 0.115,
                             0.0018, 0.012, 0.1071, 0.0214, 0.001,
                             0.0189, 0.0057, 0.0143, 0.0827, 0.0531,
                             0.0387, 0.0029, 0.0015, 0.0097, 0.0131
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 77
Column Name: ELEVATORS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 47
                             0.0, 0.08, nan, 0.16, 0.4,
                             0.14, 0.28, 0.04, 0.24, 0.88,
                             0.32, 0.12, 0.36, 0.68, 0.56,
                             0.6, 0.2, 0.52, 0.1, 0.44
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 78
Column Name: ENTRANCES_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 47
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.1207, 0.3103, 0.4828,
                             0.3793, 0.3448, 0.2759, 0.2414, 0.1552,
                             0.4483, 0.0517, 0.5172, 0.1897, 0.0862
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 79
Column Name: FLOORSMAX_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 50
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4583,
                             0.2083, 0.125, 0.0, 0.5833, 0.625,
                             0.9167, 0.9583, 0.1875, 0.5417, 0.4792
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 80
Column Name: FLOORSMIN_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 48
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.0,
                             0.5, 0.625, 0.0833, 0.1667, 0.5208,
                             0.1042, 0.6667, 0.5417, 0.25, 0.5833
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 81
Column Name: LANDAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3561
                             0.0375, 0.0132, nan, 0.0137, 0.0947,
                             0.1789, 0.0284, 0.0543, 0.0913, 0.2412,
                             0.0876, 0.0506, 0.027, 0.0887, 0.1596,
                             0.0387, 0.0903, 0.0576, 0.1429, 0.0144
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 82
Column Name: LIVINGAPARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 1098
                             0.0205, 0.0787, nan, 0.1223, 0.2899,
                             0.0231, 0.0599, 0.0735, 0.1193, 0.1189,
                             0.1231, 0.0684, 0.0667, 0.1077, 0.1804,
                             0.0975, 0.1009, 0.0086, 0.071, 0.077
                             ...

Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 83
Column Name: LIVINGAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5282
                             0.0193, 0.0558, nan, 0.0792, 0.1422,
                             0.3842, 0.0295, 0.063, 0.0889, 0.151,
                             0.1239, 0.0682, 0.0096, 0.1437, 0.0152,
                             0.262, 0.0613, 0.0648, 0.0592, 0.0938
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 84
Column Name: NONLIVINGAPARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 215
                             0.0, 0.0039, nan, 0.0194, 0.0078,
                             0.0019, 0.066, 0.0058, 0.2601, 0.0233,
                             0.0776, 0.1941, 0.0388, 0.0155, 0.2213,
                             0.0116, 0.0272, 0.163, 0.0311, 0.0427
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 85
Column Name: NONLIVINGAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3324
                             0.0, 0.01, nan, 0.1022, 0.0045,
                             0.0007, 0.0044, 0.0063, 0.0445, 0.0232,
                             0.0079, 0.0052, 0.0163, 0.0498, 0.023,
                             0.0154, 0.0002, 0.0053, 0.0013, 0.0214
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 86
Column Name: FONDKAPREMONT_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 210295
Percent of NULL(s): 68.39%
Number of Unique Values: 5
                             reg oper account, nan, org
                             spec account, reg oper spec
                             account, not specified
Mode:  ['reg oper account']
Categories (4, object): ['not specified', 'org spec account', 'reg oper account', 'reg oper spec account']
--------------------------------------------------

Column Number: 87
Column Name: HOUSETYPE_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 154297
Percent of NULL(s): 50.18%
Number of Unique Values: 4
                             block of flats, nan, terraced
                             house, specific housing
Mode:  ['block of flats']
Categories (3, object): ['block of flats', 'specific housing', 'terraced house']
--------------------------------------------------

Column Number: 88
Column Name: TOTALAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 148431
Percent of NULL(s): 48.27%
Number of Unique Values: 5117
                             0.0149, 0.0714, nan, 0.0612, 0.1417,
                             0.3811, 0.0238, 0.053, 0.0696, 0.164,
                             0.0967, 0.0533, 0.0085, 0.1227, 0.0117,
                             0.3388, 0.0684, 0.0532, 0.0749, 0.0786
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 89
Column Name: WALLSMATERIAL_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 156341
Percent of NULL(s): 50.84%
Number of Unique Values: 8
                             Stone, brick, Block, nan, Panel,
                             Mixed, Wooden, Others, Monolithic
Mode:  ['Panel']
Categories (7, object): ['Block', 'Mixed', 'Monolithic', 'Others', 'Panel', 'Stone, brick', 'Wooden']
--------------------------------------------------

Column Number: 90
Column Name: EMERGENCYSTATE_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 145755
Percent of NULL(s): 47.40%
Number of Unique Values: 3
                             No, nan, Yes
Mode:  ['No']
Categories (2, object): ['No', 'Yes']
--------------------------------------------------

Column Number: 91
Column Name: OBS_30_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings with observable 30
           DPD (days past due) default
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 34
                             2.0, 1.0, 0.0, 4.0, 8.0,
                             10.0, nan, 7.0, 3.0, 6.0,
                             5.0, 12.0, 9.0, 13.0, 11.0,
                             14.0, 22.0, 16.0, 15.0, 17.0
                             ...
Min: 0.0
Max: 348.0
--------------------------------------------------

Column Number: 92
Column Name: DEF_30_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings defaulted on 30
           DPD (days past due)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 11
                             2.0, 0.0, 1.0, nan, 3.0,
                             4.0, 5.0, 6.0, 7.0, 34.0,
                             8.0
Min: 0.0
Max: 34.0
--------------------------------------------------

Column Number: 93
Column Name: OBS_60_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings with observable 60
           DPD (days past due) default
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 34

                             2.0, 1.0, 0.0, 4.0, 8.0,
                             10.0, nan, 7.0, 3.0, 6.0,
                             5.0, 12.0, 9.0, 13.0, 11.0,
                             14.0, 21.0, 15.0, 22.0, 16.0
                             ...
Min: 0.0
Max: 344.0
--------------------------------------------------

Column Number: 94
Column Name: DEF_60_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings defaulted on 60
           (days past due) DPD
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 10
                             2.0, 0.0, 1.0, nan, 3.0,
                             5.0, 4.0, 7.0, 24.0, 6.0

Min: 0.0
Max: 24.0
--------------------------------------------------

Column Number: 95
Column Name: DAYS_LAST_PHONE_CHANGE
Description:
           How many days before application did client change phone
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1
Percent of NULL(s): 0.00%
Number of Unique Values: 3774
                             -1134.0, -828.0, -815.0, -617.0, -1106.0,
                             -2536.0, -1562.0, -1070.0, 0.0, -1673.0,
                             -844.0, -2396.0, -2370.0, -4.0, -188.0,
                             -925.0, -3.0, -2811.0, -239.0, -1850.0
                             ...
Min: -4292.0
Max: 0.0
--------------------------------------------------

Column Number: 96
Column Name: FLAG_DOCUMENT_2
Description:
           Did client provide document 2
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 97
Column Name: FLAG_DOCUMENT_3
Description:
           Did client provide document 3
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 98
Column Name: FLAG_DOCUMENT_4
Description:
           Did client provide document 4
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 99
Column Name: FLAG_DOCUMENT_5
Description:
           Did client provide document 5
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 100
Column Name: FLAG_DOCUMENT_6
Description:
           Did client provide document 6
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 101
Column Name: FLAG_DOCUMENT_7
Description:
           Did client provide document 7
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 102
Column Name: FLAG_DOCUMENT_8
Description:
           Did client provide document 8
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 103
Column Name: FLAG_DOCUMENT_9
Description:
           Did client provide document 9
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 104
Column Name: FLAG_DOCUMENT_10
Description:
           Did client provide document 10
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 105
Column Name: FLAG_DOCUMENT_11
Description:
           Did client provide document 11
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 106
Column Name: FLAG_DOCUMENT_12
Description:
           Did client provide document 12
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 107
Column Name: FLAG_DOCUMENT_13
Description:
           Did client provide document 13
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 108
Column Name: FLAG_DOCUMENT_14
Description:
           Did client provide document 14
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 109
Column Name: FLAG_DOCUMENT_15
Description:
           Did client provide document 15
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 110
Column Name: FLAG_DOCUMENT_16
Description:
           Did client provide document 16
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 111
Column Name: FLAG_DOCUMENT_17
Description:
           Did client provide document 17
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 112
Column Name: FLAG_DOCUMENT_18
Description:
           Did client provide document 18
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 113
Column Name: FLAG_DOCUMENT_19
Description:
           Did client provide document 19
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 114
Column Name: FLAG_DOCUMENT_20
Description:
           Did client provide document 20
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 115
Column Name: FLAG_DOCUMENT_21
Description:
           Did client provide document 21
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 116
Column Name: AMT_REQ_CREDIT_BUREAU_HOUR
Description:
           Number of enquiries to Credit Bureau about the client one
           hour before application
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 6
                             0.0, nan, 1.0, 2.0, 3.0,
                             4.0
Min: 0.0
Max: 4.0
--------------------------------------------------

Column Number: 117
Column Name: AMT_REQ_CREDIT_BUREAU_DAY
Description:
           Number of enquiries to Credit Bureau about the client one
           day before application (excluding one hour before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 10
                             0.0, nan, 1.0, 3.0, 2.0,
                             4.0, 5.0, 6.0, 9.0, 8.0

Min: 0.0
Max: 9.0
--------------------------------------------------

Column Number: 118
Column Name: AMT_REQ_CREDIT_BUREAU_WEEK
Description:
           Number of enquiries to Credit Bureau about the client one
           week before application (excluding one day before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 10
                             0.0, nan, 1.0, 3.0, 2.0,
                             4.0, 5.0, 6.0, 8.0, 7.0

Min: 0.0
Max: 8.0
--------------------------------------------------

Column Number: 119
Column Name: AMT_REQ_CREDIT_BUREAU_MON
Description:
           Number of enquiries to Credit Bureau about the client one
           month before application (excluding one week before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 25
                             0.0, nan, 1.0, 2.0, 6.0,
                             5.0, 3.0, 7.0, 9.0, 4.0,
                             11.0, 8.0, 16.0, 12.0, 14.0,
                             10.0, 13.0, 17.0, 24.0, 19.0
                             ...
Min: 0.0
Max: 27.0
--------------------------------------------------

Column Number: 120
Column Name: AMT_REQ_CREDIT_BUREAU_QRT
Description:
           Number of enquiries to Credit Bureau about the client 3
           month before application (excluding one month before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 12
                             0.0, nan, 1.0, 2.0, 4.0,
                             3.0, 8.0, 5.0, 6.0, 7.0,
                             261.0, 19.0
Min: 0.0
Max: 261.0
--------------------------------------------------

Column Number: 121
Column Name: AMT_REQ_CREDIT_BUREAU_YEAR
Description:
           Number of enquiries to Credit Bureau about the client one
           day year (excluding last 3 months before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 26
                             1.0, 0.0, nan, 2.0, 4.0,
                             5.0, 3.0, 8.0, 6.0, 9.0,
                             7.0, 10.0, 11.0, 13.0, 16.0,
                             12.0, 25.0, 23.0, 15.0, 14.0
                             ...
Min: 0.0
Max: 25.0
--------------------------------------------------

In [39]:
application_test = pd.read_csv("data/download/application_test.csv")
application_test = change_dtypes(application_test)

Memory usage before changing types 47.18 MB
Memory usage after changing types 18.19 MB

In [41]:
nrows_train_test = application_train.shape[0] + application_test.shape[0]
nrows_train_test

356255

# `bureau.csv`

All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).

For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

In [34]:
bureau = pd.read_csv("data/download/bureau.csv")
print("bureau.shape:", bureau.shape)
bureau.head()

bureau.shape: (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [35]:
bureau["SK_ID_CURR"].is_unique

False

In [38]:
bureau["SK_ID_CURR"].nunique()

305811

In [43]:
# there are about 24% of applications do not have bureau data
bureau["SK_ID_CURR"].nunique() / nrows_train_test

0.8584047943186762

In [36]:
bureau["SK_ID_BUREAU"].is_unique

True

In [ ]:
print_col_desc(bureau, "bureau.csv", col_desc)

# Description of columns in table `bureau_balance.csv`

Monthly balances of previous credits in Credit Bureau.

This table has one row for each month of history of every previous credit reported to Credit Bureau â€“ i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

In [ ]:
bureau_balance = pd.read_csv("data/download/bureau_balance.csv")
print("bureau_balance.shape:", bureau_balance.shape)
bureau_balance.head()

In [ ]:
bureau_balance["SK_ID_BUREAU"].is_unique

In [ ]:
print_col_desc(bureau_balance, "bureau_balance.csv", col_desc)

# Description of columns in table `previous_application.csv`

All previous applications for Home Credit loans of clients who have loans in our sample.

There is one row for each previous application related to loans in our data sample.

In [ ]:
previous_application = pd.read_csv("data/download/previous_application.csv")
print("previous_application.shape:", previous_application.shape)
previous_application.head()

In [ ]:
previous_application["SK_ID_PREV"].is_unique

In [ ]:
previous_application["SK_ID_CURR"].is_unique

In [ ]:
print_col_desc(previous_application, "previous_application.csv", col_desc)

# Description of columns in table `POS_CASH_balance.csv`

Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.

This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample â€“ i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

In [ ]:
POS_CASH_balance = pd.read_csv("data/download/POS_CASH_balance.csv")
print("POS_CASH_balance.shape:", POS_CASH_balance.shape)
POS_CASH_balance.head()

In [ ]:
[id_col for id_col in POS_CASH_balance.columns.values if id_col.startswith("SK_ID")]

In [ ]:
POS_CASH_balance["SK_ID_PREV"].is_unique

In [ ]:
POS_CASH_balance["SK_ID_CURR"].is_unique

In [ ]:
POS_CASH_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

In [ ]:
tmp = POS_CASH_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

In [ ]:
print_col_desc(POS_CASH_balance, "POS_CASH_balance.csv", col_desc)

# Description of columns in table `credit_card_balance.csv`

Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.

This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample â€“ i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

In [ ]:
credit_card_balance = pd.read_csv("data/download/credit_card_balance.csv")
print("credit_card_balance.shape:", credit_card_balance.shape)
credit_card_balance.head()

In [ ]:
credit_card_balance["SK_ID_PREV"].is_unique

In [ ]:
credit_card_balance["SK_ID_CURR"].is_unique

In [ ]:
credit_card_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

In [ ]:
tmp = credit_card_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

In [ ]:
print_col_desc(credit_card_balance, "credit_card_balance.csv", col_desc)

# Description of columns in table  `installments_payments.csv`

Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.

There is a) one row for every payment that was made plus b) one row each for missed payment.

One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

In [ ]:
installments_payments = pd.read_csv("data/download/installments_payments.csv")
print("installments_payments.shape:", installments_payments.shape)
installments_payments.head()

In [ ]:
installments_payments["SK_ID_PREV"].is_unique

In [ ]:
installments_payments["SK_ID_CURR"].is_unique

In [ ]:
installments_payments.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

In [ ]:
tmp = installments_payments.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

In [ ]:
print_col_desc(installments_payments, "installments_payments.csv", col_desc)