In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

# Helper functions

In [2]:
def print_long_string(string, indent=0, max_words_per_line=10):
    """
    :param string: str
    :param indent: int
    :param max_words_per_line: int
    :return: None
    """
    words = [" "*indent]
    for i, word in enumerate(string.split()):
        words.append(word)
        if (i+1) % max_words_per_line == 0:
            words.append("\n" + " "*indent)
    print(" ".join(words))
    return None


def print_col_desc(df, table_name, col_desc_df):
    """
    To print out the information of columns of df. This information is taken from col_desc_df
    :param df: dataframe
    :param table_name: str
    :param col_desc_table:
    :return: None
    """
    nrows = df.shape[0]
    all_cols = df.columns.to_list()
    cat_cols = df.select_dtypes(["category", "object", "bool"]).columns.to_list()
    num_cols = [col for col in all_cols if col not in cat_cols]

    for i, col in enumerate(df.columns):
        mask = (col_desc_df["Table"] == table_name) & (col_desc_df["Row"] == col)
        print("Column Number:", i)
        print("Column Name:", col)
        print("Description:")

        if len(col_desc_df.loc[mask, :]) == 0:
            print(" " * 10 + "No Description, Maybe the column name does not match.")
        else:
            print_long_string(col_desc_df.loc[mask, "Description"].iloc[0], indent=10)
            print("Special:", col_desc_df.loc[mask, "Special"].iloc[0])

        print("Type:", df[col].dtype)
        n_null = np.sum(df[col].isnull())
        print("Number of rows:", nrows)
        print("Number of NULL(s):", n_null)
        print("Percent of NULL(s): %.2f%%" % (n_null / nrows * 100))

        nunique = df[col].nunique(dropna=False)
        print("Number of Unique Values:", nunique)
        if nunique <= 20:
            print_long_string(", ".join([str(s) for s in df[col].unique()]),
                                indent=28, max_words_per_line=5)
        else:
            print_long_string(", ".join([str(s) for s in df[col].unique()[:20]]) + " ...",
                                indent=28, max_words_per_line=5)

        if col in num_cols:
            print("Min:", df[col].min())
            print("Max:", df[col].max())
        else:
            print("Mode: ", df[col].mode().values)

        print("-" * 50 + "\n")
    return None


def change_dtypes(df):
    """
    change types of columns to reduce memory size
    :param df: dataframe
    :return df: dataframe
    """
    memory = df.memory_usage().sum() / 10**6
    print("Memory usage before changing types %0.2f MB" % memory)

    for col in df.columns:
        if (df[col].dtype == "object") and (df[col].nunique() < df.shape[0]):
            df[col] = df[col].astype("category")

        elif set(df[col].unique()) == set([0, 1]):
            df[col] = df[col].astype(bool)

        elif df[col].dtype == float:
            df[col] = df[col].astype(np.float32)

        elif df[col].dtype == int:
            df[col] = df[col].astype(np.int32)

    memory = df.memory_usage().sum() / 10 ** 6
    print("Memory usage after changing types %0.2f MB" % memory)
    return df

In [3]:
col_desc = pd.read_csv("data/download/HomeCredit_columns_description.csv", encoding="ISO-8859-1")

# Understanding columns of dataframes

## `application_train.csv`

This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).

Static data for all applications. One row represents one loan in our data sample.

In [4]:
application_train = pd.read_csv("data/download/application_train.csv")
application_train = change_dtypes(application_train)
print("application_train.shape:", application_train.shape)
application_train.head()

Memory usage before changing types 300.13 MB
Memory usage after changing types 104.87 MB
application_train.shape: (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,False,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,False,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,False,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,False,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
application_train.shape

(307511, 122)

In [6]:
application_train.dtypes

SK_ID_CURR                       int32
TARGET                            bool
NAME_CONTRACT_TYPE            category
CODE_GENDER                   category
FLAG_OWN_CAR                  category
                                ...
AMT_REQ_CREDIT_BUREAU_DAY      float32
AMT_REQ_CREDIT_BUREAU_WEEK     float32
AMT_REQ_CREDIT_BUREAU_MON      float32
AMT_REQ_CREDIT_BUREAU_QRT      float32
AMT_REQ_CREDIT_BUREAU_YEAR     float32
Length: 122, dtype: object

In [7]:
application_train["SK_ID_CURR"].is_unique

True

In [8]:
print_col_desc(application_train, "application_{train|test}.csv", col_desc)

Column Number: 0
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 307511
                             100002, 100003, 100004, 100006, 100007,
                             100008, 100009, 100010, 100011, 100012,
                             100014, 100015, 100016, 100017, 100018,
                             100019, 100020, 100021, 100022, 100023
                             ...
Min: 100002
Max: 456255
--------------------------------------------------

Column Number: 1
Column Name: TARGET
Description:
           Target variable (1 - client with payment difficulties: he/she had
           late payment more than X days on at least one
           of the first Y installments of the loan in our
           sample, 0 - all other cases)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [False]
--------------------------------------------------

Column Number: 2
Column Name: NAME_CONTRACT_TYPE
Description:
           Identification if loan is cash or revolving
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             Cash loans, Revolving loans
Mode:  ['Cash loans']
Categories (2, object): ['Cash loans', 'Revolving loans']
--------------------------------------------------

Column Number: 3
Column Name: CODE_GENDER
Description:
           Gender of the client
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             M, F, XNA
Mode:  ['F']
Categories (3, object): ['F', 'M', 'XNA']
--------------------------------------------------

Column Number: 4
Column Name: FLAG_OWN_CAR
Description:
           Flag if the client owns a car
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             N, Y
Mode:  ['N']
Categories (2, object): ['N', 'Y']
--------------------------------------------------

Column Number: 5
Column Name: FLAG_OWN_REALTY
Description:
           Flag if client owns a house or flat
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             Y, N
Mode:  ['Y']
Categories (2, object): ['N', 'Y']
--------------------------------------------------

Column Number: 6
Column Name: CNT_CHILDREN
Description:
           Number of children the client has
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 15
                             0, 1, 2, 3, 4,
                             7, 5, 6, 8, 9,
                             11, 12, 10, 19, 14

Min: 0
Max: 19
--------------------------------------------------

Column Number: 7
Column Name: AMT_INCOME_TOTAL
Description:
           Income of the client
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2548
                             202500.0, 270000.0, 67500.0, 135000.0, 121500.0,
                             99000.0, 171000.0, 360000.0, 112500.0, 38419.156,
                             225000.0, 189000.0, 157500.0, 108000.0, 81000.0,
                             90000.0, 450000.0, 83250.0, 292500.0, 198000.0
                             ...
Min: 25650.0
Max: 117000000.0
--------------------------------------------------

Column Number: 8
Column Name: AMT_CREDIT
Description:
           Credit amount of the loan
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5603
                             406597.5, 1293502.5, 135000.0, 312682.5, 513000.0,
                             490495.5, 1560726.0, 1530000.0, 1019610.0, 405000.0,
                             652500.0, 148365.0, 80865.0, 918468.0, 773680.5,
                             299772.0, 509602.5, 270000.0, 157500.0, 544491.0
                             ...
Min: 45000.0
Max: 4050000.0
--------------------------------------------------

Column Number: 9
Column Name: AMT_ANNUITY
Description:
           Loan annuity
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 12
Percent of NULL(s): 0.00%
Number of Unique Values: 13673
                             24700.5, 35698.5, 6750.0, 29686.5, 21865.5,
                             27517.5, 41301.0, 42075.0, 33826.5, 20250.0,
                             21177.0, 10678.5, 5881.5, 28966.5, 32778.0,
                             20160.0, 26149.5, 13500.0, 7875.0, 17563.5
                             ...
Min: 1615.5
Max: 258025.5
--------------------------------------------------

Column Number: 10
Column Name: AMT_GOODS_PRICE
Description:
           For consumer loans it is the price of the goods
           for which the loan is given
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 278
Percent of NULL(s): 0.09%
Number of Unique Values: 1003
                             351000.0, 1129500.0, 135000.0, 297000.0, 513000.0,
                             454500.0, 1395000.0, 1530000.0, 913500.0, 405000.0,
                             652500.0, 67500.0, 697500.0, 679500.0, 247500.0,
                             387000.0, 270000.0, 157500.0, 427500.0, 927000.0
                             ...
Min: 40500.0
Max: 4050000.0
--------------------------------------------------

Column Number: 11
Column Name: NAME_TYPE_SUITE
Description:
           Who was accompanying client when he was applying for the
           loan
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 1292
Percent of NULL(s): 0.42%
Number of Unique Values: 8
                             Unaccompanied, Family, Spouse, partner, Children,
                             Other_A, nan, Other_B, Group of
                             people
Mode:  ['Unaccompanied']
Categories (7, object): ['Children', 'Family', 'Group of people', 'Other_A', 'Other_B', 'Spouse, partner', 'Unaccompanied']
--------------------------------------------------

Column Number: 12
Column Name: NAME_INCOME_TYPE
Description:
           Clients income type (businessman, working, maternity leave, )
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 8
                             Working, State servant, Commercial associate,
                             Pensioner, Unemployed, Student, Businessman, Maternity
                             leave
Mode:  ['Working']
Categories (8, object): ['Businessman', 'Commercial associate', 'Maternity leave', 'Pensioner', 'State servant', 'Student', 'Unemployed', 'Working']
--------------------------------------------------

Column Number: 13
Column Name: NAME_EDUCATION_TYPE
Description:
           Level of highest education the client achieved
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5
                             Secondary / secondary special, Higher
                             education, Incomplete higher, Lower secondary,
                             Academic degree
Mode:  ['Secondary / secondary special']
Categories (5, object): ['Academic degree', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special']
--------------------------------------------------

Column Number: 14
Column Name: NAME_FAMILY_STATUS
Description:
           Family status of the client
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6
                             Single / not married, Married,
                             Civil marriage, Widow, Separated, Unknown

Mode:  ['Married']
Categories (6, object): ['Civil marriage', 'Married', 'Separated', 'Single / not married', 'Unknown', 'Widow']
--------------------------------------------------

Column Number: 15
Column Name: NAME_HOUSING_TYPE
Description:
           What is the housing situation of the client (renting, living
           with parents, ...)
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6
                             House / apartment, Rented apartment,
                             With parents, Municipal apartment, Office
                             apartment, Co-op apartment
Mode:  ['House / apartment']
Categories (6, object): ['Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'With parents']
--------------------------------------------------

Column Number: 16
Column Name: REGION_POPULATION_RELATIVE
Description:
           Normalized population of region where client lives (higher number means
           the client lives in more populated region)
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 81
                             0.018801, 0.003541, 0.010032, 0.008019, 0.028663,
                             0.035792, 0.003122, 0.018634, 0.019689, 0.0228,
                             0.015221, 0.031329, 0.016612, 0.010006, 0.020713,
                             0.010966, 0.04622, 0.025164, 0.006296, 0.026392
                             ...
Min: 0.00029
Max: 0.072508
--------------------------------------------------

Column Number: 17
Column Name: DAYS_BIRTH
Description:
           Client's age in days at the time of application
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 17460
                             -9461, -16765, -19046, -19005, -19932,
                             -16941, -13778, -18850, -20099, -14469,
                             -10197, -20417, -13439, -14086, -14583,
                             -8728, -12931, -9776, -17718, -11348
                             ...
Min: -25229
Max: -7489
--------------------------------------------------

Column Number: 18
Column Name: DAYS_EMPLOYED
Description:
           How many days before the application the person started current
           employment
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 12574
                             -637, -1188, -225, -3039, -3038,
                             -1588, -3130, -449, 365243, -2019,
                             -679, -2717, -3028, -203, -1157,
                             -1317, -191, -7804, -2038, -4286
                             ...
Min: -17912
Max: 365243
--------------------------------------------------

Column Number: 19
Column Name: DAYS_REGISTRATION
Description:
           How many days before the application did client change his
           registration
Special: time only relative to the application
Type: float32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 15688
                             -3648.0, -1186.0, -4260.0, -9833.0, -4311.0,
                             -4970.0, -1213.0, -4597.0, -7427.0, -14437.0,
                             -4427.0, -5246.0, -311.0, -643.0, -615.0,
                             -3494.0, -6392.0, -4143.0, -8751.0, -1021.0
                             ...
Min: -24672.0
Max: 0.0
--------------------------------------------------

Column Number: 20
Column Name: DAYS_ID_PUBLISH
Description:
           How many days before the application did client change the
           identity document with which he applied for the loan
Special: time only relative to the application
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 6168
                             -2120, -291, -2531, -2437, -3458,
                             -477, -619, -2379, -3514, -3992,
                             -738, -2512, -3227, -4911, -2056,
                             -1368, -3866, -2427, -1259, -3964
                             ...
Min: -7197
Max: 0
--------------------------------------------------

Column Number: 21
Column Name: OWN_CAR_AGE
Description:
           Age of client's car
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 202929
Percent of NULL(s): 65.99%
Number of Unique Values: 63
                             nan, 26.0, 17.0, 8.0, 23.0,
                             7.0, 14.0, 1.0, 3.0, 13.0,
                             10.0, 2.0, 21.0, 20.0, 22.0,
                             65.0, 5.0, 11.0, 9.0, 4.0
                             ...
Min: 0.0
Max: 91.0
--------------------------------------------------

Column Number: 22
Column Name: FLAG_MOBIL
Description:
           Did client provide mobile phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 23
Column Name: FLAG_EMP_PHONE
Description:
           Did client provide work phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 24
Column Name: FLAG_WORK_PHONE
Description:
           Did client provide home phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 25
Column Name: FLAG_CONT_MOBILE
Description:
           Was mobile phone reachable (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 26
Column Name: FLAG_PHONE
Description:
           Did client provide home phone (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [False]
--------------------------------------------------

Column Number: 27
Column Name: FLAG_EMAIL
Description:
           Did client provide email (1=YES, 0=NO)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%

Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 28
Column Name: OCCUPATION_TYPE
Description:
           What kind of occupation does the client have
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 96391
Percent of NULL(s): 31.35%
Number of Unique Values: 19
                             Laborers, Core staff, Accountants, Managers,
                             nan, Drivers, Sales staff, Cleaning
                             staff, Cooking staff, Private service
                             staff, Medicine staff, Security staff,
                             High skill tech staff, Waiters/barmen
                             staff, Low-skill Laborers, Realty agents,
                             Secretaries, IT staff, HR staff

Mode:  ['Laborers']
Categories (18, object): ['Accountants', 'Cleaning staff', 'Cooking staff', 'Core staff', ..., 'Sales staff', 'Secretaries', 'Security staff', 'Waiters/barmen staff']
--------------------------------------------------

Column Number: 29
Column Name: CNT_FAM_MEMBERS
Description:
           How many family members does client have
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 2
Percent of NULL(s): 0.00%
Number of Unique Values: 18
                             1.0, 2.0, 3.0, 4.0, 5.0,
                             6.0, 9.0, 7.0, 8.0, 10.0,
                             13.0, nan, 14.0, 12.0, 20.0,
                             15.0, 16.0, 11.0
Min: 1.0
Max: 20.0
--------------------------------------------------

Column Number: 30
Column Name: REGION_RATING_CLIENT
Description:
           Our rating of the region where client lives (1,2,3)
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             2, 1, 3
Min: 1
Max: 3
--------------------------------------------------

Column Number: 31
Column Name: REGION_RATING_CLIENT_W_CITY
Description:
           Our rating of the region where client lives with taking
           city into account (1,2,3)
Special: nan
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             2, 1, 3
Min: 1
Max: 3
--------------------------------------------------

Column Number: 32
Column Name: WEEKDAY_APPR_PROCESS_START
Description:
           On which day of the week did the client apply
           for the loan
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 7
                             WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY,
                             FRIDAY, TUESDAY
Mode:  ['TUESDAY']
Categories (7, object): ['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']
--------------------------------------------------

Column Number: 33
Column Name: HOUR_APPR_PROCESS_START
Description:
           Approximately at what hour did the client apply for the
           loan
Special: rounded
Type: int32
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 24
                             10, 11, 9, 17, 16,
                             14, 8, 15, 7, 13,
                             6, 12, 19, 3, 18,
                             21, 4, 5, 20, 22
                             ...
Min: 0
Max: 23
--------------------------------------------------

Column Number: 34
Column Name: REG_REGION_NOT_LIVE_REGION
Description:
           Flag if client's permanent address does not match contact address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 35
Column Name: REG_REGION_NOT_WORK_REGION
Description:
           Flag if client's permanent address does not match work address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 36
Column Name: LIVE_REGION_NOT_WORK_REGION
Description:
           Flag if client's contact address does not match work address
           (1=different, 0=same, at region level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 37
Column Name: REG_CITY_NOT_LIVE_CITY
Description:
           Flag if client's permanent address does not match contact address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 38
Column Name: REG_CITY_NOT_WORK_CITY
Description:
           Flag if client's permanent address does not match work address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 39
Column Name: LIVE_CITY_NOT_WORK_CITY
Description:
           Flag if client's contact address does not match work address
           (1=different, 0=same, at city level)
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 40
Column Name: ORGANIZATION_TYPE
Description:
           Type of organization where client works
Special: nan
Type: category
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 58
                             Business Entity Type 3, School,
                             Government, Religion, Other, XNA, Electricity,
                             Medicine, Business Entity Type 2,
                             Self-employed, Transport: type 2, Construction,
                             Housing, Kindergarten, Trade: type 7,
                             Industry: type 11, Military, Services,
                             Security Ministries, Transport: type 4
                             ...
Mode:  ['Business Entity Type 3']
Categories (58, object): ['Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', ..., 'Transport: type 3', 'Transport: type 4', 'University', 'XNA']
--------------------------------------------------

Column Number: 41
Column Name: EXT_SOURCE_1
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 173378
Percent of NULL(s): 56.38%
Number of Unique Values: 114585
                             0.08303697, 0.31126732, nan, 0.77476144, 0.58733404,
                             0.31976017, 0.72204447, 0.4648311, 0.72193974, 0.11563434,
                             0.5656549, 0.43770903, 0.5619484, 0.6003959, 0.29791352,
                             0.27442238, 0.8427635, 0.8045861, 0.46820804, 0.71042734
                             ...
Min: 0.014568132
Max: 0.9626928
--------------------------------------------------

Column Number: 42
Column Name: EXT_SOURCE_2
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 660
Percent of NULL(s): 0.21%
Number of Unique Values: 119832
                             0.2629486, 0.6222458, 0.5559121, 0.6504417, 0.3227383,
                             0.35422474, 0.72399986, 0.7142793, 0.20574729, 0.7466436,
                             0.6518623, 0.5551832, 0.7150418, 0.56690663, 0.6426562,
                             0.34663397, 0.23637784, 0.68351334, 0.7064284, 0.5866171
                             ...
Min: 8.173617e-08
Max: 0.85499966
--------------------------------------------------

Column Number: 43
Column Name: EXT_SOURCE_3
Description:
           Normalized score from external data source
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 60965
Percent of NULL(s): 19.83%
Number of Unique Values: 815
                             0.13937578, nan, 0.7295667, 0.6212263, 0.4920601,
                             0.5406544, 0.7517237, 0.36394525, 0.6528965, 0.17665258,
                             0.77008706, 0.6785677, 0.062103037, 0.5567274, 0.47764915,
                             0.5424451, 0.35895124, 0.6690567, 0.56560796, 0.4614824
                             ...
Min: 0.00052726525
Max: 0.89600956
--------------------------------------------------

Column Number: 44
Column Name: APARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 2340
                             0.0247, 0.0959, nan, 0.0825, 0.1474,
                             0.3495, 0.0278, 0.0722, 0.0907, 0.1443,
                             0.1433, 0.0165, 0.1505, 0.0124, 0.367,
                             0.0928, 0.0948, 0.0814, 0.1309, 0.2186
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 45
Column Name: BASEMENTAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3781
                             0.0369, 0.0529, nan, 0.0973, 0.1335,
                             0.0617, 0.0801, 0.0795, 0.0848, 0.1455,
                             0.0147, 0.0089, 0.0838, 0.3751, 0.0804,
                             0.0792, 0.0994, 0.125, 0.1232, 0.0442
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 46
Column Name: YEARS_BEGINEXPLUATATION_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 286
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9781, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 47
Column Name: YEARS_BUILD_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 150
                             0.6192, 0.796, nan, 0.7348, 0.9796,
                             0.8368, 0.7008, 0.7076, 0.83, 0.8096,
                             0.7688, 0.6736, 0.9456, 0.7416, 0.7892,
                             0.728, 0.8436, 0.116, 0.7824, 0.8028
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 48
Column Name: COMMONAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3182
                             0.0143, 0.0605, nan, 0.0582, 0.1143,
                             0.0018, 0.012, 0.1064, 0.0212, 0.001,
                             0.0188, 0.0056, 0.0142, 0.0822, 0.0528,
                             0.0385, 0.0029, 0.0076, 0.0096, 0.013
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 49
Column Name: ELEVATORS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 258
                             0.0, 0.08, nan, 0.16, 0.4,
                             0.14, 0.28, 0.04, 0.24, 0.88,
                             0.32, 0.12, 0.4264, 0.36, 0.68,
                             0.56, 0.1332, 0.6, 0.2, 0.52
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 50
Column Name: ENTRANCES_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 286
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.1207, 0.3103, 0.4828,
                             0.0552, 0.3793, 0.3448, 0.1172, 0.2759,
                             0.1838, 0.2414, 0.1148, 0.1552, 0.4483
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 51
Column Name: FLOORSMAX_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 404
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4083,
                             0.4583, 0.1, 0.2083, 0.125, 0.0,
                             0.5833, 0.625, 0.9167, 0.9583, 0.3054
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 52
Column Name: FLOORSMIN_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 306
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.45,
                             0.0, 0.1417, 0.5, 0.625, 0.0833,
                             0.1667, 0.3471, 0.5208, 0.1042, 0.6667
                             ...

Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 53
Column Name: LANDAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3528
                             0.0369, 0.013, nan, 0.0135, 0.0931,
                             0.1758, 0.0279, 0.0534, 0.0898, 0.2371,
                             0.0861, 0.0498, 0.0265, 0.0872, 0.1569,
                             0.038, 0.0888, 0.0566, 0.1404, 0.0142
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 54
Column Name: LIVINGAPARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 1869
                             0.0202, 0.0773, nan, 0.1202, 0.2849,
                             0.0227, 0.0588, 0.0723, 0.1173, 0.1168,
                             0.121, 0.0672, 0.0656, 0.1059, 0.1774,
                             0.0958, 0.0992, 0.0698, 0.0756, 0.0101
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 55
Column Name: LIVINGAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5200
                             0.019, 0.0549, nan, 0.0778, 0.1397,
                             0.3774, 0.029, 0.0619, 0.0873, 0.1484,
                             0.1217, 0.067, 0.0094, 0.1412, 0.0149,
                             0.2574, 0.0602, 0.0637, 0.0582, 0.0922
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 56
Column Name: NONLIVINGAPARTMENTS_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 387
                             0.0, 0.0039, nan, 0.0193, 0.0077,
                             0.0019, 0.0656, 0.0058, 0.278, 0.0232,
                             0.0772, 0.1931, 0.0386, 0.0154, 0.2201,
                             0.0116, 0.027, 0.1622, 0.0309, 0.0425
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 57
Column Name: NONLIVINGAREA_AVG
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3291
                             0.0, 0.0098, nan, 0.1001, 0.0044,
                             0.0007, 0.0043, 0.0061, 0.0436, 0.0227,
                             0.0078, 0.0051, 0.016, 0.0487, 0.0226,
                             0.0151, 0.0002, 0.0052, 0.0084, 0.021
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 58
Column Name: APARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 761
                             0.0252, 0.0924, nan, 0.084, 0.1502,
                             0.3561, 0.0284, 0.0735, 0.1261, 0.146,
                             0.0168, 0.1534, 0.0126, 0.3739, 0.0945,
                             0.0966, 0.083, 0.1334, 0.2227, 0.0441
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 59
Column Name: BASEMENTAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3842
                             0.0383, 0.0538, nan, 0.101, 0.1386,
                             0.064, 0.0831, 0.0825, 0.0754, 0.1509,
                             0.0153, 0.0092, 0.087, 0.3893, 0.0835,
                             0.0822, 0.1032, 0.1297, 0.1279, 0.0306
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 60
Column Name: YEARS_BEGINEXPLUATATION_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 222
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9782, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 61
Column Name: YEARS_BUILD_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 155
                             0.6341, 0.804, nan, 0.7452, 0.9804,
                             0.8432, 0.7125, 0.719, 0.8367, 0.8171,
                             0.7779, 0.6864, 0.9477, 0.7517, 0.7975,
                             0.7387, 0.8497, 0.0, 0.7909, 0.8105
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 62
Column Name: COMMONAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3129

                             0.0144, 0.0497, nan, 0.0587, 0.1153,
                             0.0018, 0.0121, 0.0, 0.0214, 0.001,
                             0.019, 0.0057, 0.0143, 0.083, 0.0533,
                             0.0388, 0.0029, 0.0006, 0.0097, 0.0131
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 63
Column Name: ELEVATORS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 27
                             0.0, 0.0806, nan, 0.1611, 0.4028,
                             0.1208, 0.282, 0.0403, 0.2417, 0.8862,
                             0.3222, 0.3625, 0.6848, 0.5639, 0.6042,
                             0.2014, 0.5236, 0.4431, 0.4834, 0.6445
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 64
Column Name: ENTRANCES_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 31
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.3103, 0.4828, 0.3793,
                             0.3448, 0.2759, 0.2414, 0.4483, 0.5172,
                             0.0, 0.5517, 0.4138, 0.6207, 0.6897
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 65
Column Name: FLOORSMAX_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 26
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4583,
                             0.2083, 0.125, 0.0, 0.5833, 0.625,
                             0.9167, 0.9583, 0.5417, 1.0, 0.4167
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 66
Column Name: FLOORSMIN_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 26
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.0,
                             0.5, 0.625, 0.0833, 0.1667, 0.6667,
                             0.25, 0.5833, 1.0, 0.9583, 0.5417
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 67
Column Name: LANDAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3564
                             0.0377, 0.0128, nan, 0.0138, 0.0952,
                             0.1798, 0.0286, 0.0546, 0.0918, 0.2425,
                             0.0881, 0.0509, 0.0271, 0.0892, 0.1604,
                             0.0389, 0.0908, 0.0579, 0.1436, 0.0145
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 68
Column Name: LIVINGAPARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 737
                             0.022, 0.079, nan, 0.1313, 0.3113,
                             0.0248, 0.0643, 0.1102, 0.1276, 0.1322,
                             0.0735, 0.0716, 0.1157, 0.1938, 0.1047,
                             0.1084, 0.0055, 0.0762, 0.0826, 0.011
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 69
Column Name: LIVINGAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5302
                             0.0198, 0.0554, nan, 0.081, 0.1456,
                             0.3932, 0.0302, 0.0645, 0.091, 0.0923,
                             0.1268, 0.0698, 0.0083, 0.1471, 0.0155,
                             0.2682, 0.0627, 0.0664, 0.0606, 0.096
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 70
Column Name: NONLIVINGAPARTMENTS_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 168
                             0.0, nan, 0.0195, 0.0078, 0.0039,
                             0.0661, 0.1556, 0.0233, 0.0778, 0.1946,
                             0.0389, 0.0156, 0.2218, 0.0117, 0.0272,
                             0.1634, 0.0311, 0.0428, 0.0623, 0.0506
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 71
Column Name: NONLIVINGAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3328
                             0.0, nan, 0.106, 0.0047, 0.0045,
                             0.0065, 0.0461, 0.0241, 0.0082, 0.0054,
                             0.0168, 0.0516, 0.0239, 0.016, 0.0002,
                             0.0055, 0.0222, 0.142, 0.0219, 0.0041
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 72
Column Name: APARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 156061
Percent of NULL(s): 50.75%
Number of Unique Values: 1149

                             0.025, 0.0968, nan, 0.0833, 0.1489,
                             0.3529, 0.0281, 0.0729, 0.0916, 0.1457,
                             0.1447, 0.0167, 0.152, 0.0125, 0.3706,
                             0.0937, 0.0958, 0.0822, 0.1322, 0.2207
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 73
Column Name: BASEMENTAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 179943
Percent of NULL(s): 58.52%
Number of Unique Values: 3773
                             0.0369, 0.0529, nan, 0.0973, 0.1335,
                             0.0617, 0.0801, 0.0795, 0.0848, 0.1455,
                             0.0147, 0.0089, 0.0838, 0.3751, 0.0804,
                             0.0792, 0.0994, 0.125, 0.1232, 0.0408
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 74
Column Name: YEARS_BEGINEXPLUATATION_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 150007
Percent of NULL(s): 48.78%
Number of Unique Values: 246
                             0.9722, 0.9851, nan, 0.9811, 0.9806,
                             0.9985, 0.9881, 0.9781, 0.9786, 0.9876,
                             0.9861, 0.9732, 0.9831, 0.9697, 0.9901,
                             0.9801, 0.9762, 0.996, 0.998, 0.9846
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 75
Column Name: YEARS_BUILD_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 204488
Percent of NULL(s): 66.50%
Number of Unique Values: 152
                             0.6243, 0.7987, nan, 0.7383, 0.9799,
                             0.839, 0.7048, 0.7115, 0.8323, 0.8121,
                             0.7719, 0.678, 0.9463, 0.7451, 0.792,
                             0.7316, 0.8457, 0.0, 0.7853, 0.8054
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 76
Column Name: COMMONAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 214865
Percent of NULL(s): 69.87%
Number of Unique Values: 3203
                             0.0144, 0.0608, nan, 0.0585, 0.115,
                             0.0018, 0.012, 0.1071, 0.0214, 0.001,
                             0.0189, 0.0057, 0.0143, 0.0827, 0.0531,
                             0.0387, 0.0029, 0.0015, 0.0097, 0.0131
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 77
Column Name: ELEVATORS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 163891
Percent of NULL(s): 53.30%
Number of Unique Values: 47
                             0.0, 0.08, nan, 0.16, 0.4,
                             0.14, 0.28, 0.04, 0.24, 0.88,
                             0.32, 0.12, 0.36, 0.68, 0.56,
                             0.6, 0.2, 0.52, 0.1, 0.44
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 78
Column Name: ENTRANCES_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154828
Percent of NULL(s): 50.35%
Number of Unique Values: 47
                             0.069, 0.0345, nan, 0.2069, 0.1379,
                             0.1724, 0.1034, 0.1207, 0.3103, 0.4828,
                             0.3793, 0.3448, 0.2759, 0.2414, 0.1552,
                             0.4483, 0.0517, 0.5172, 0.1897, 0.0862
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 79
Column Name: FLOORSMAX_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 153020
Percent of NULL(s): 49.76%
Number of Unique Values: 50
                             0.0833, 0.2917, nan, 0.1667, 0.3333,
                             0.6667, 0.375, 0.0417, 0.25, 0.4583,
                             0.2083, 0.125, 0.0, 0.5833, 0.625,
                             0.9167, 0.9583, 0.1875, 0.5417, 0.4792
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 80
Column Name: FLOORSMIN_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 208642
Percent of NULL(s): 67.85%
Number of Unique Values: 48
                             0.125, 0.3333, nan, 0.375, 0.7083,
                             0.0417, 0.2083, 0.4167, 0.2917, 0.0,
                             0.5, 0.625, 0.0833, 0.1667, 0.5208,
                             0.1042, 0.6667, 0.5417, 0.25, 0.5833
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 81
Column Name: LANDAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 182590
Percent of NULL(s): 59.38%
Number of Unique Values: 3561
                             0.0375, 0.0132, nan, 0.0137, 0.0947,
                             0.1789, 0.0284, 0.0543, 0.0913, 0.2412,
                             0.0876, 0.0506, 0.027, 0.0887, 0.1596,
                             0.0387, 0.0903, 0.0576, 0.1429, 0.0144
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 82
Column Name: LIVINGAPARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 210199
Percent of NULL(s): 68.35%
Number of Unique Values: 1098
                             0.0205, 0.0787, nan, 0.1223, 0.2899,
                             0.0231, 0.0599, 0.0735, 0.1193, 0.1189,
                             0.1231, 0.0684, 0.0667, 0.1077, 0.1804,
                             0.0975, 0.1009, 0.0086, 0.071, 0.077
                             ...

Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 83
Column Name: LIVINGAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 154350
Percent of NULL(s): 50.19%
Number of Unique Values: 5282
                             0.0193, 0.0558, nan, 0.0792, 0.1422,
                             0.3842, 0.0295, 0.063, 0.0889, 0.151,
                             0.1239, 0.0682, 0.0096, 0.1437, 0.0152,
                             0.262, 0.0613, 0.0648, 0.0592, 0.0938
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 84
Column Name: NONLIVINGAPARTMENTS_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 213514
Percent of NULL(s): 69.43%
Number of Unique Values: 215
                             0.0, 0.0039, nan, 0.0194, 0.0078,
                             0.0019, 0.066, 0.0058, 0.2601, 0.0233,
                             0.0776, 0.1941, 0.0388, 0.0155, 0.2213,
                             0.0116, 0.0272, 0.163, 0.0311, 0.0427
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 85
Column Name: NONLIVINGAREA_MEDI
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 169682
Percent of NULL(s): 55.18%
Number of Unique Values: 3324
                             0.0, 0.01, nan, 0.1022, 0.0045,
                             0.0007, 0.0044, 0.0063, 0.0445, 0.0232,
                             0.0079, 0.0052, 0.0163, 0.0498, 0.023,
                             0.0154, 0.0002, 0.0053, 0.0013, 0.0214
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 86
Column Name: FONDKAPREMONT_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 210295
Percent of NULL(s): 68.39%
Number of Unique Values: 5
                             reg oper account, nan, org
                             spec account, reg oper spec
                             account, not specified
Mode:  ['reg oper account']
Categories (4, object): ['not specified', 'org spec account', 'reg oper account', 'reg oper spec account']
--------------------------------------------------

Column Number: 87
Column Name: HOUSETYPE_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 154297
Percent of NULL(s): 50.18%
Number of Unique Values: 4
                             block of flats, nan, terraced
                             house, specific housing
Mode:  ['block of flats']
Categories (3, object): ['block of flats', 'specific housing', 'terraced house']
--------------------------------------------------

Column Number: 88
Column Name: TOTALAREA_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: float32
Number of rows: 307511
Number of NULL(s): 148431
Percent of NULL(s): 48.27%
Number of Unique Values: 5117
                             0.0149, 0.0714, nan, 0.0612, 0.1417,
                             0.3811, 0.0238, 0.053, 0.0696, 0.164,
                             0.0967, 0.0533, 0.0085, 0.1227, 0.0117,
                             0.3388, 0.0684, 0.0532, 0.0749, 0.0786
                             ...
Min: 0.0
Max: 1.0
--------------------------------------------------

Column Number: 89
Column Name: WALLSMATERIAL_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 156341
Percent of NULL(s): 50.84%
Number of Unique Values: 8
                             Stone, brick, Block, nan, Panel,
                             Mixed, Wooden, Others, Monolithic
Mode:  ['Panel']
Categories (7, object): ['Block', 'Mixed', 'Monolithic', 'Others', 'Panel', 'Stone, brick', 'Wooden']
--------------------------------------------------

Column Number: 90
Column Name: EMERGENCYSTATE_MODE
Description:
           Normalized information about building where the client lives, What is
           average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment
           size, common area, living area, age of building, number of
           elevators, number of entrances, state of the building, number of
           floor
Special: normalized
Type: category
Number of rows: 307511
Number of NULL(s): 145755
Percent of NULL(s): 47.40%
Number of Unique Values: 3
                             No, nan, Yes
Mode:  ['No']
Categories (2, object): ['No', 'Yes']
--------------------------------------------------

Column Number: 91
Column Name: OBS_30_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings with observable 30
           DPD (days past due) default
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 34
                             2.0, 1.0, 0.0, 4.0, 8.0,
                             10.0, nan, 7.0, 3.0, 6.0,
                             5.0, 12.0, 9.0, 13.0, 11.0,
                             14.0, 22.0, 16.0, 15.0, 17.0
                             ...
Min: 0.0
Max: 348.0
--------------------------------------------------

Column Number: 92
Column Name: DEF_30_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings defaulted on 30
           DPD (days past due)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 11
                             2.0, 0.0, 1.0, nan, 3.0,
                             4.0, 5.0, 6.0, 7.0, 34.0,
                             8.0
Min: 0.0
Max: 34.0
--------------------------------------------------

Column Number: 93
Column Name: OBS_60_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings with observable 60
           DPD (days past due) default
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 34

                             2.0, 1.0, 0.0, 4.0, 8.0,
                             10.0, nan, 7.0, 3.0, 6.0,
                             5.0, 12.0, 9.0, 13.0, 11.0,
                             14.0, 21.0, 15.0, 22.0, 16.0
                             ...
Min: 0.0
Max: 344.0
--------------------------------------------------

Column Number: 94
Column Name: DEF_60_CNT_SOCIAL_CIRCLE
Description:
           How many observation of client's social surroundings defaulted on 60
           (days past due) DPD
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1021
Percent of NULL(s): 0.33%
Number of Unique Values: 10
                             2.0, 0.0, 1.0, nan, 3.0,
                             5.0, 4.0, 7.0, 24.0, 6.0

Min: 0.0
Max: 24.0
--------------------------------------------------

Column Number: 95
Column Name: DAYS_LAST_PHONE_CHANGE
Description:
           How many days before application did client change phone
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 1
Percent of NULL(s): 0.00%
Number of Unique Values: 3774
                             -1134.0, -828.0, -815.0, -617.0, -1106.0,
                             -2536.0, -1562.0, -1070.0, 0.0, -1673.0,
                             -844.0, -2396.0, -2370.0, -4.0, -188.0,
                             -925.0, -3.0, -2811.0, -239.0, -1850.0
                             ...
Min: -4292.0
Max: 0.0
--------------------------------------------------

Column Number: 96
Column Name: FLAG_DOCUMENT_2
Description:
           Did client provide document 2
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 97
Column Name: FLAG_DOCUMENT_3
Description:
           Did client provide document 3
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 98
Column Name: FLAG_DOCUMENT_4
Description:
           Did client provide document 4
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 99
Column Name: FLAG_DOCUMENT_5
Description:
           Did client provide document 5
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 100
Column Name: FLAG_DOCUMENT_6
Description:
           Did client provide document 6
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 101
Column Name: FLAG_DOCUMENT_7
Description:
           Did client provide document 7
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 102
Column Name: FLAG_DOCUMENT_8
Description:
           Did client provide document 8
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 103
Column Name: FLAG_DOCUMENT_9
Description:
           Did client provide document 9
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 104
Column Name: FLAG_DOCUMENT_10
Description:
           Did client provide document 10
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 105
Column Name: FLAG_DOCUMENT_11
Description:
           Did client provide document 11
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 106
Column Name: FLAG_DOCUMENT_12
Description:
           Did client provide document 12
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 107
Column Name: FLAG_DOCUMENT_13
Description:
           Did client provide document 13
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 108
Column Name: FLAG_DOCUMENT_14
Description:
           Did client provide document 14
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 109
Column Name: FLAG_DOCUMENT_15
Description:
           Did client provide document 15
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 110
Column Name: FLAG_DOCUMENT_16
Description:
           Did client provide document 16
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 111
Column Name: FLAG_DOCUMENT_17
Description:
           Did client provide document 17
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 112
Column Name: FLAG_DOCUMENT_18
Description:
           Did client provide document 18
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 113
Column Name: FLAG_DOCUMENT_19
Description:
           Did client provide document 19
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 114
Column Name: FLAG_DOCUMENT_20
Description:
           Did client provide document 20
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 115
Column Name: FLAG_DOCUMENT_21
Description:
           Did client provide document 21
Special: nan
Type: bool
Number of rows: 307511
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             False, True
Mode:  [False]
--------------------------------------------------

Column Number: 116
Column Name: AMT_REQ_CREDIT_BUREAU_HOUR
Description:
           Number of enquiries to Credit Bureau about the client one
           hour before application
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 6
                             0.0, nan, 1.0, 2.0, 3.0,
                             4.0
Min: 0.0
Max: 4.0
--------------------------------------------------

Column Number: 117
Column Name: AMT_REQ_CREDIT_BUREAU_DAY
Description:
           Number of enquiries to Credit Bureau about the client one
           day before application (excluding one hour before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 10
                             0.0, nan, 1.0, 3.0, 2.0,
                             4.0, 5.0, 6.0, 9.0, 8.0

Min: 0.0
Max: 9.0
--------------------------------------------------

Column Number: 118
Column Name: AMT_REQ_CREDIT_BUREAU_WEEK
Description:
           Number of enquiries to Credit Bureau about the client one
           week before application (excluding one day before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 10
                             0.0, nan, 1.0, 3.0, 2.0,
                             4.0, 5.0, 6.0, 8.0, 7.0

Min: 0.0
Max: 8.0
--------------------------------------------------

Column Number: 119
Column Name: AMT_REQ_CREDIT_BUREAU_MON
Description:
           Number of enquiries to Credit Bureau about the client one
           month before application (excluding one week before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 25
                             0.0, nan, 1.0, 2.0, 6.0,
                             5.0, 3.0, 7.0, 9.0, 4.0,
                             11.0, 8.0, 16.0, 12.0, 14.0,
                             10.0, 13.0, 17.0, 24.0, 19.0
                             ...
Min: 0.0
Max: 27.0
--------------------------------------------------

Column Number: 120
Column Name: AMT_REQ_CREDIT_BUREAU_QRT
Description:
           Number of enquiries to Credit Bureau about the client 3
           month before application (excluding one month before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 12
                             0.0, nan, 1.0, 2.0, 4.0,
                             3.0, 8.0, 5.0, 6.0, 7.0,
                             261.0, 19.0
Min: 0.0
Max: 261.0
--------------------------------------------------

Column Number: 121
Column Name: AMT_REQ_CREDIT_BUREAU_YEAR
Description:
           Number of enquiries to Credit Bureau about the client one
           day year (excluding last 3 months before application)
Special: nan
Type: float32
Number of rows: 307511
Number of NULL(s): 41519
Percent of NULL(s): 13.50%
Number of Unique Values: 26
                             1.0, 0.0, nan, 2.0, 4.0,
                             5.0, 3.0, 8.0, 6.0, 9.0,
                             7.0, 10.0, 11.0, 13.0, 16.0,
                             12.0, 25.0, 23.0, 15.0, 14.0
                             ...
Min: 0.0
Max: 25.0
--------------------------------------------------

In [9]:
application_test = pd.read_csv("data/download/application_test.csv")
application_test = change_dtypes(application_test)

Memory usage before changing types 47.18 MB
Memory usage after changing types 18.19 MB

In [10]:
nrows_train_test = application_train.shape[0] + application_test.shape[0]
nrows_train_test

356255

## `bureau.csv`

All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).

For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

In [11]:
bureau = pd.read_csv("data/download/bureau.csv")
bureau = change_dtypes(bureau)
print("bureau.shape:", bureau.shape)
bureau.head()

Memory usage before changing types 233.43 MB
Memory usage after changing types 101.27 MB
bureau.shape: (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [12]:
bureau["SK_ID_CURR"].is_unique

False

In [13]:
bureau["SK_ID_CURR"].nunique()

305811

In [14]:
# there are about 24% of applications do not have bureau data
bureau["SK_ID_CURR"].nunique() / nrows_train_test

0.8584047943186762

In [15]:
bureau["SK_ID_BUREAU"].is_unique

True

In [16]:
print_col_desc(bureau, "bureau.csv", col_desc)

Column Number: 0
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample - one loan in
           our sample can have 0,1,2 or more related previous credits
           in credit bureau
Special: hashed
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 305811
                             215354, 162297, 402440, 238881, 222183,
                             426155, 136226, 400486, 435112, 452585,
                             389599, 242993, 303740, 234931, 311918,
                             119939, 388421, 419892, 387080, 293201
                             ...
Min: 100001
Max: 456255
--------------------------------------------------

Column Number: 1
Column Name: SK_ID_BUREAU
Description:
          No Description, Maybe the column name does not match.
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1716428
                             5714462, 5714463, 5714464, 5714465, 5714466,
                             5714467, 5714468, 5714469, 5714470, 5714471,
                             5714472, 5714473, 5714474, 5714475, 5714482,
                             5714484, 5714485, 5714486, 5714487, 5714488
                             ...
Min: 5000000
Max: 6843457
--------------------------------------------------

Column Number: 2
Column Name: CREDIT_ACTIVE
Description:
           Status of the Credit Bureau (CB) reported credits
Special: nan
Type: category
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             Closed, Active, Sold, Bad debt

Mode:  ['Closed']
Categories (4, object): ['Active', 'Bad debt', 'Closed', 'Sold']
--------------------------------------------------

Column Number: 3
Column Name: CREDIT_CURRENCY
Description:
           Recoded currency of the Credit Bureau credit
Special: recoded
Type: category
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             currency 1, currency 2, currency
                             4, currency 3
Mode:  ['currency 1']
Categories (4, object): ['currency 1', 'currency 2', 'currency 3', 'currency 4']
--------------------------------------------------

Column Number: 4
Column Name: DAYS_CREDIT
Description:
           How many days before current application did client apply for
           Credit Bureau credit
Special: time only relative to the application
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2923
                             -497, -208, -203, -629, -273,
                             -43, -1896, -1146, -2456, -277,
                             -96, -318, -2911, -2148, -381,
                             -95, -444, -392, -784, -774
                             ...
Min: -2922
Max: 0
--------------------------------------------------

Column Number: 5
Column Name: CREDIT_DAY_OVERDUE
Description:
           Number of days past due on CB credit at the
           time of application for related loan in our sample
Special: nan
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 942
                             0, 2603, 6, 30, 2156,
                             496, 186, 2264, 41, 8,
                             71, 13, 252, 1201, 12,
                             38, 1777, 150, 18, 37
                             ...
Min: 0
Max: 2792
--------------------------------------------------

Column Number: 6
Column Name: DAYS_CREDIT_ENDDATE
Description:
           Remaining duration of CB credit (in days) at the time
           of application in Home Credit
Special: time only relative to the application
Type: float32
Number of rows: 1716428
Number of NULL(s): 105553
Percent of NULL(s): 6.15%
Number of Unique Values: 14097
                             -153.0, 1075.0, 528.0, nan, 1197.0,
                             27460.0, 79.0, -1684.0, -811.0, -484.0,
                             -180.0, -629.0, 5261.0, 269.0, -187.0,
                             -2607.0, -1595.0, 1720.0, -77.0, 1008.0
                             ...
Min: -42060.0
Max: 31199.0
--------------------------------------------------

Column Number: 7
Column Name: DAYS_ENDDATE_FACT
Description:
           Days since CB credit ended at the time of application
           in Home Credit (only for closed credit)
Special: time only relative to the application
Type: float32
Number of rows: 1716428
Number of NULL(s): 633653
Percent of NULL(s): 36.92%
Number of Unique Values: 2918
                             -153.0, nan, -1710.0, -840.0, -825.0,
                             -187.0, -2604.0, -987.0, -77.0, -2559.0,
                             -343.0, -1023.0, -2347.0, -480.0, -355.0,
                             -2128.0, -727.0, -1127.0, -849.0, -1276.0
                             ...
Min: -42023.0
Max: 0.0
--------------------------------------------------

Column Number: 8
Column Name: AMT_CREDIT_MAX_OVERDUE
Description:
           Maximal amount overdue on the Credit Bureau credit so far
           (at application date of loan in our sample)
Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 1124488
Percent of NULL(s): 65.51%
Number of Unique Values: 68252
                             nan, 77674.5, 0.0, 14985.0, 310.5,
                             20493.27, 88821.0, 1350.0, 3980.52, 1800.0,
                             18293.266, 12618.0, 40.5, 6007.5, 11250.0,
                             6492.42, 3285.0, 1704.78, 3727.89, 13590.0
                             ...
Min: 0.0
Max: 115987180.0
--------------------------------------------------

Column Number: 9
Column Name: CNT_CREDIT_PROLONG
Description:
           How many times was the Credit Bureau credit prolonged
Special: nan
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 10
                             0, 2, 1, 4, 3,
                             5, 9, 8, 6, 7

Min: 0
Max: 9
--------------------------------------------------

Column Number: 10
Column Name: AMT_CREDIT_SUM
Description:
           Current credit amount for the Credit Bureau credit
Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 13
Percent of NULL(s): 0.00%
Number of Unique Values: 236689
                             91323.0, 225000.0, 464323.5, 90000.0, 2700000.0,
                             180000.0, 42103.8, 76878.45, 103007.7, 4500.0,
                             337500.0, 675000.0, 7033500.0, 89910.0, 0.0,
                             48555.0, 135000.0, 450000.0, 67500.0, 107184.06
                             ...
Min: 0.0
Max: 585000000.0
--------------------------------------------------

Column Number: 11
Column Name: AMT_CREDIT_SUM_DEBT
Description:
           Current debt on Credit Bureau credit
Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 257669
Percent of NULL(s): 15.01%
Number of Unique Values: 226528
                             0.0, 171342.0, nan, 71017.38, 42103.8,
                             76905.0, 520920.0, 8131.5, 23679.0, -411.615,
                             1185493.5, 108315.0, 858768.56, 183528.0, 54000.0,
                             274225.5, 521478.0, 59809.5, 263056.5, 17982.0
                             ...
Min: -4705600.5
Max: 170100000.0
--------------------------------------------------

Column Number: 12
Column Name: AMT_CREDIT_SUM_LIMIT
Description:
           Current credit limit of credit card reported in Credit Bureau

Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 591780
Percent of NULL(s): 34.48%
Number of Unique Values: 51727
                             nan, 108982.62, 0.0, 228320.1, 411.615,
                             121690.17, 137692.17, 135149.05, 2.565, 94903.6,
                             53962.695, 135000.0, 225701.28, 4500.0, 6705.63,
                             980.28, 364500.0, 45.36, 76.59, 1638.765
                             ...
Min: -586406.1
Max: 4705600.5
--------------------------------------------------

Column Number: 13
Column Name: AMT_CREDIT_SUM_OVERDUE
Description:
           Current amount overdue on Credit Bureau credit
Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1616
                             0.0, 231.525, 288.0, 58.5, 504.0,
                             169582.5, 36.0, 540.0, 1710.0, 4941.0,
                             1620.0, 42435.0, 349428.06, 855.0, 22410.0,
                             1291.5, 3523.5, 229.5, 45.0, 351.0
                             ...
Min: 0.0
Max: 3756681.0
--------------------------------------------------

Column Number: 14
Column Name: CREDIT_TYPE
Description:
           Type of Credit Bureau credit (Car, cash,...)
Special: nan
Type: category
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 15
                             Consumer credit, Credit card, Mortgage,
                             Car loan, Microloan, Loan for
                             working capital replenishment, Loan for
                             business development, Real estate loan,
                             Unknown type of loan, Another
                             type of loan, Cash loan
                             (non-earmarked), Loan for the purchase
                             of equipment, Mobile operator loan,
                             Interbank credit, Loan for purchase
                             of shares (margin lending)
Mode:  ['Consumer credit']
Categories (15, object): ['Another type of loan', 'Car loan', 'Cash loan (non-earmarked)', 'Consumer credit', ..., 'Mobile operator loan', 'Mortgage', 'Real estate loan', 'Unknown type of loan']
--------------------------------------------------

Column Number: 15
Column Name: DAYS_CREDIT_UPDATE
Description:
           How many days before loan application did last information about
           the Credit Bureau credit come
Special: time only relative to the application
Type: int32
Number of rows: 1716428
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2982

                             -131, -20, -16, -21, -31,
                             -22, -1710, -840, -690, -706,
                             -185, -2601, -984, -4, -7,
                             -71, -694, -210, -24, -2559
                             ...
Min: -41947
Max: 372
--------------------------------------------------

Column Number: 16
Column Name: AMT_ANNUITY
Description:
           Annuity of the Credit Bureau credit
Special: nan
Type: float32
Number of rows: 1716428
Number of NULL(s): 1226791
Percent of NULL(s): 71.47%
Number of Unique Values: 40322
                             nan, 0.0, 2691.0, 24462.0, 8181.0,
                             8061.21, 13131.0, 40522.004, 26550.0, 67995.0,
                             43668.0, 15321.87, 10491.885, 27000.0, 8245.395,
                             12162.15, 3337.11, 16200.0, 14301.0, 13396.5
                             ...
Min: 0.0
Max: 118453420.0
--------------------------------------------------

## `bureau_balance.csv`

Monthly balances of previous credits in Credit Bureau.

This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

In [18]:
bureau_balance = pd.read_csv("data/download/bureau_balance.csv")
print("bureau_balance.shape:", bureau_balance.shape)
bureau_balance.head()

bureau_balance.shape: (27299925, 3)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [19]:
bureau_balance["SK_ID_BUREAU"].is_unique

False

In [20]:
# only half of the applications in bureau have month records in bureau_balance
bureau_balance["SK_ID_BUREAU"].nunique() / bureau.shape[0]

0.4762186354452386

In [21]:
print_col_desc(bureau_balance, "bureau_balance.csv", col_desc)

Column Number: 0
Column Name: SK_ID_BUREAU
Description:
          No Description, Maybe the column name does not match.
Type: int64
Number of rows: 27299925
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 817395
                             5715448, 5715449, 5715451, 5715452, 5715453,
                             5715454, 5715455, 5715456, 5715457, 5715458,
                             5715459, 5715460, 5715461, 5715478, 5715479,
                             5715480, 5715521, 5715529, 5715530, 5715531
                             ...
Min: 5001709
Max: 6842888
--------------------------------------------------

Column Number: 1
Column Name: MONTHS_BALANCE
Description:
           Month of balance relative to application date (-1 means the
           freshest balance date)
Special: time only relative to the application
Type: int64
Number of rows: 27299925
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 97
                             0, -1, -2, -3, -4,
                             -5, -6, -7, -8, -9,
                             -10, -11, -12, -13, -14,
                             -15, -16, -17, -18, -19
                             ...
Min: -96
Max: 0
--------------------------------------------------

Column Number: 2
Column Name: STATUS
Description:
           Status of Credit Bureau loan during the month (active, closed,
           DPD0-30, [C means closed, X means status unknown, 0 means
           no DPD, 1 means maximal did during month between 1-30,
           2 means DPD 31-60, 5 means DPD 120+ or sold
           or written off ] )
Special: nan
Type: object
Number of rows: 27299925
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 8
                             C, 0, X, 1, 2,
                             3, 5, 4
Mode:  ['C']
--------------------------------------------------

## `previous_application.csv`

All previous applications for Home Credit loans of clients who have loans in our sample.

There is one row for each previous application related to loans in our data sample.

In [22]:
previous_application = pd.read_csv("data/download/previous_application.csv")
previous_application = change_dtypes(previous_application)
print("previous_application.shape:", previous_application.shape)
previous_application.head()

Memory usage before changing types 494.38 MB
Memory usage after changing types 162.02 MB
previous_application.shape: (1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430054,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615234,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735352,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335938,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.394531,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
previous_application["SK_ID_PREV"].is_unique

True

In [24]:
previous_application["SK_ID_CURR"].is_unique

False

In [27]:
# about 5% of current applications are compleltely new, having no previous applications at Home Credit.
previous_application["SK_ID_CURR"].nunique() / nrows_train_test

0.9511641941867482

In [28]:
print_col_desc(previous_application, "previous_application.csv", col_desc)

Column Number: 0
Column Name: SK_ID_PREV
Description:
          No Description, Maybe the column name does not match.
Type: int32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1670214
                             2030495, 2802425, 2523466, 2819243, 1784265,
                             1383531, 2315218, 1656711, 2367563, 2579447,
                             1715995, 2257824, 2330894, 1397919, 2273188,
                             1232483, 2163253, 1285768, 2393109, 1173070
                             ...
Min: 1000001
Max: 2845382
--------------------------------------------------

Column Number: 1
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: hashed
Type: int32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 338857
                             271877, 108129, 122040, 176158, 202054,
                             199383, 175704, 296299, 342292, 334349,
                             447712, 161140, 258628, 321676, 270658,
                             151612, 154602, 142748, 396305, 199178
                             ...
Min: 100001
Max: 456255
--------------------------------------------------

Column Number: 2
Column Name: NAME_CONTRACT_TYPE
Description:
           Contract product type (Cash loan, consumer loan [POS] ,...) of
           the previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             Consumer loans, Cash loans, Revolving
                             loans, XNA
Mode:  ['Cash loans']
Categories (4, object): ['Cash loans', 'Consumer loans', 'Revolving loans', 'XNA']
--------------------------------------------------

Column Number: 3
Column Name: AMT_ANNUITY
Description:
           Annuity of previous application
Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 372235
Percent of NULL(s): 22.29%
Number of Unique Values: 357960
                             1730.43, 25188.615, 15060.735, 47041.336, 31924.395,
                             23703.93, nan, 11368.62, 13832.775, 12165.21,
                             7654.86, 9644.22, 21307.455, 4187.34, 9000.0,
                             10181.7, 4666.5, 25454.025, 20361.6, 39475.305
                             ...
Min: 0.0
Max: 418058.16
--------------------------------------------------

Column Number: 4
Column Name: AMT_APPLICATION
Description:
           For how much credit did client ask on the previous
           application
Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 93885
                             17145.0, 607500.0, 112500.0, 450000.0, 337500.0,
                             315000.0, 0.0, 270000.0, 211500.0, 148500.0,
                             53779.5, 26550.0, 126490.5, 26955.0, 180000.0,
                             45000.0, 405000.0, 1129500.0, 229500.0, 369000.0
                             ...
Min: 0.0
Max: 6905160.0
--------------------------------------------------

Column Number: 5
Column Name: AMT_CREDIT
Description:
           Final credit amount on the previous application. This differs from
           AMT_APPLICATION in a way that the AMT_APPLICATION is the amount
           for which the client initially applied for, but during our
           approval process he could have received different amount - AMT_CREDIT

Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 1
Percent of NULL(s): 0.00%
Number of Unique Values: 86803
                             17145.0, 679671.0, 136444.5, 470790.0, 404055.0,
                             340573.5, 0.0, 335754.0, 246397.5, 174361.5,
                             57564.0, 27252.0, 119853.0, 27297.0, 180000.0,
                             49455.0, 491580.0, 451777.5, 1277104.5, 241920.0
                             ...
Min: 0.0
Max: 6905160.0
--------------------------------------------------

Column Number: 6
Column Name: AMT_DOWN_PAYMENT
Description:
           Down payment on the previous application
Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 895844
Percent of NULL(s): 53.64%
Number of Unique Values: 29279
                             0.0, nan, 12649.5, 1350.0, 9000.0,
                             13500.0, 4500.0, 7573.5, 25312.5, 2637.0,
                             11011.5, 6111.0, 13248.0, 6669.0, 32562.0,
                             4653.0, 51727.5, 2281.5, 5805.0, 5067.0
                             ...
Min: -0.9
Max: 3060045.0
--------------------------------------------------

Column Number: 7
Column Name: AMT_GOODS_PRICE
Description:
           Goods price of good that client asked for (if applicable)
           on the previous application
Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 385515
Percent of NULL(s): 23.08%
Number of Unique Values: 93886
                             17145.0, 607500.0, 112500.0, 450000.0, 337500.0,
                             315000.0, nan, 270000.0, 211500.0, 148500.0,
                             53779.5, 26550.0, 126490.5, 26955.0, 180000.0,
                             45000.0, 405000.0, 1129500.0, 229500.0, 369000.0
                             ...
Min: 0.0
Max: 6905160.0
--------------------------------------------------

Column Number: 8
Column Name: WEEKDAY_APPR_PROCESS_START
Description:
           On which day of the week did the client apply
           for previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 7
                             SATURDAY, THURSDAY, TUESDAY, MONDAY, FRIDAY,
                             SUNDAY, WEDNESDAY
Mode:  ['TUESDAY']
Categories (7, object): ['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']
--------------------------------------------------

Column Number: 9
Column Name: HOUR_APPR_PROCESS_START
Description:
           Approximately at what day hour did the client apply for
           the previous application
Special: rounded
Type: int32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 24
                             15, 11, 7, 9, 8,
                             10, 12, 13, 14, 16,
                             6, 4, 5, 19, 17,
                             18, 20, 22, 21, 3
                             ...
Min: 0
Max: 23
--------------------------------------------------

Column Number: 10
Column Name: FLAG_LAST_APPL_PER_CONTRACT
Description:
           Flag if it was last application for the previous contract.
           Sometimes by mistake of client or our clerk there could
           be more applications for one single contract
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             Y, N
Mode:  ['Y']
Categories (2, object): ['N', 'Y']
--------------------------------------------------

Column Number: 11
Column Name: NFLAG_LAST_APPL_IN_DAY
Description:
           Flag if the application was the last application per day
           of the client. Sometimes clients apply for more applications a
           day. Rarely it could also be error in our system
           that one application is in the database twice
Special: nan
Type: bool
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2
                             True, False
Mode:  [ True]
--------------------------------------------------

Column Number: 12
Column Name: RATE_DOWN_PAYMENT
Description:
           Down payment rate normalized on previous credit
Special: normalized
Type: float32
Number of rows: 1670214
Number of NULL(s): 895844
Percent of NULL(s): 53.64%
Number of Unique Values: 191302
                             0.0, nan, 0.10397129, 0.051323794, 0.13137406,
                             0.06593225, 0.13028961, 0.0982125, 0.06995702, 0.21784917,
                             0.08804073, 0.114377916, 0.32815298, 0.10396847, 0.10897527,
                             0.10891963, 0.09945421, 0.3409269, 0.5305378, 0.25150278
                             ...
Min: -1.4978764e-05
Max: 1.0
--------------------------------------------------

Column Number: 13
Column Name: RATE_INTEREST_PRIMARY
Description:
           Interest rate normalized on previous credit
Special: normalized
Type: float32
Number of rows: 1670214
Number of NULL(s): 1664263
Percent of NULL(s): 99.64%
Number of Unique Values: 149
                             0.18283181, nan, 0.19691432, 0.18913634, 0.69566756,
                             0.19175734, 0.18912219, 0.19332993, 0.16071631, 0.19690014,
                             0.18281764, 0.14244021, 0.1933441, 0.16070214, 0.6961634,
                             0.18910801, 0.18176924, 0.18915051, 0.52326304, 0.059135213
                             ...
Min: 0.034781255
Max: 1.0
--------------------------------------------------

Column Number: 14
Column Name: RATE_INTEREST_PRIVILEGED
Description:
           Interest rate normalized on previous credit
Special: normalized
Type: float32
Number of rows: 1670214
Number of NULL(s): 1664263
Percent of NULL(s): 99.64%
Number of Unique Values: 26

                             0.86733615, nan, 0.83509517, 0.5687104, 0.8451374,
                             0.852537, 0.71564484, 0.6379493, 0.8208245, 0.4244186,
                             0.8324524, 0.6448203, 0.5137421, 0.5428118, 0.3731501,
                             0.8065539, 0.5021142, 0.6374207, 0.7251586, 0.7806554
                             ...
Min: 0.3731501
Max: 1.0
--------------------------------------------------

Column Number: 15
Column Name: NAME_CASH_LOAN_PURPOSE
Description:
           Purpose of the cash loan
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 25
                             XAP, XNA, Repairs, Everyday expenses,
                             Car repairs, Building a house
                             or an annex, Other, Journey,
                             Purchase of electronic equipment, Medicine,
                             Payments on other loans, Urgent
                             needs, Buying a used car,
                             Buying a new car, Buying
                             a holiday home / land,
                             Education, Buying a home, Furniture,
                             Buying a garage, Business development
                             ...
Mode:  ['XAP']
Categories (25, object): ['Building a house or an annex', 'Business development', 'Buying a garage', 'Buying a holiday home / land', ..., 'Urgent needs', 'Wedding / gift / holiday', 'XAP', 'XNA']
--------------------------------------------------

Column Number: 16
Column Name: NAME_CONTRACT_STATUS
Description:
           Contract status (approved, cancelled, ...) of previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             Approved, Refused, Canceled, Unused offer

Mode:  ['Approved']
Categories (4, object): ['Approved', 'Canceled', 'Refused', 'Unused offer']
--------------------------------------------------

Column Number: 17
Column Name: DAYS_DECISION
Description:
           Relative to current application when was the decision about previous
           application made
Special: time only relative to the application
Type: int32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2922
                             -73, -164, -301, -512, -781,
                             -684, -14, -21, -386, -57,
                             -735, -815, -860, -408, -726,
                             -699, -1473, -336, -700, -584
                             ...
Min: -2922
Max: -1
--------------------------------------------------

Column Number: 18
Column Name: NAME_PAYMENT_TYPE
Description:
           Payment method that client chose to pay for the previous
           application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             Cash through the bank, XNA,
                             Non-cash from your account, Cashless
                             from the account of the
                             employer
Mode:  ['Cash through the bank']
Categories (4, object): ['Cash through the bank', 'Cashless from the account of the employer', 'Non-cash from your account', 'XNA']
--------------------------------------------------

Column Number: 19
Column Name: CODE_REJECT_REASON
Description:
           Why was the previous application rejected
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 9
                             XAP, HC, LIMIT, CLIENT, SCOFR,
                             SCO, XNA, VERIF, SYSTEM
Mode:  ['XAP']
Categories (9, object): ['CLIENT', 'HC', 'LIMIT', 'SCO', ..., 'SYSTEM', 'VERIF', 'XAP', 'XNA']
--------------------------------------------------

Column Number: 20
Column Name: NAME_TYPE_SUITE
Description:
           Who accompanied client when applying for the previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 820405
Percent of NULL(s): 49.12%
Number of Unique Values: 8
                             nan, Unaccompanied, Spouse, partner, Family,
                             Children, Other_B, Other_A, Group of
                             people
Mode:  ['Unaccompanied']
Categories (7, object): ['Children', 'Family', 'Group of people', 'Other_A', 'Other_B', 'Spouse, partner', 'Unaccompanied']
--------------------------------------------------

Column Number: 21
Column Name: NAME_CLIENT_TYPE
Description:
           Was the client old or new client when applying for
           the previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 4
                             Repeater, New, Refreshed, XNA
Mode:  ['Repeater']
Categories (4, object): ['New', 'Refreshed', 'Repeater', 'XNA']
--------------------------------------------------

Column Number: 22
Column Name: NAME_GOODS_CATEGORY
Description:
           What kind of goods did the client apply for in
           the previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 28
                             Mobile, XNA, Consumer Electronics, Construction
                             Materials, Auto Accessories, Photo /
                             Cinema Equipment, Computers, Audio/Video, Medicine,
                             Clothing and Accessories, Furniture, Sport
                             and Leisure, Homewares, Gardening, Jewelry,
                             Vehicles, Education, Medical Supplies, Other,
                             Direct Sales ...
Mode:  ['XNA']
Categories (28, object): ['Additional Service', 'Animals', 'Audio/Video', 'Auto Accessories', ..., 'Tourism', 'Vehicles', 'Weapon', 'XNA']
--------------------------------------------------

Column Number: 23
Column Name: NAME_PORTFOLIO
Description:
           Was the previous application for CASH, POS, CAR,
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5
                             POS, Cash, XNA, Cards, Cars

Mode:  ['POS']
Categories (5, object): ['Cards', 'Cars', 'Cash', 'POS', 'XNA']
--------------------------------------------------

Column Number: 24
Column Name: NAME_PRODUCT_TYPE
Description:
           Was the previous application x-sell o walk-in
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3
                             XNA, x-sell, walk-in
Mode:  ['XNA']
Categories (3, object): ['XNA', 'walk-in', 'x-sell']
--------------------------------------------------

Column Number: 25
Column Name: CHANNEL_TYPE
Description:
           Through which channel we acquired the client on the previous
           application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 8
                             Country-wide, Contact center, Credit and
                             cash offices, Stone, Regional /
                             Local, AP+ (Cash loan), Channel
                             of corporate sales, Car dealer

Mode:  ['Credit and cash offices']
Categories (8, object): ['AP+ (Cash loan)', 'Car dealer', 'Channel of corporate sales', 'Contact center', 'Country-wide', 'Credit and cash offices', 'Regional / Local', 'Stone']
--------------------------------------------------

Column Number: 26
Column Name: SELLERPLACE_AREA
Description:
           Selling area of seller place of the previous application
Special: nan
Type: int32
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2097
                             35, -1, 200, 83, 130,
                             6, 61, 20, 50, 136,
                             40, 25, 1535, 800, 182,
                             212, 333, 1000, 24, 250
                             ...
Min: -1
Max: 4000000
--------------------------------------------------

Column Number: 27
Column Name: NAME_SELLER_INDUSTRY
Description:
           The industry of the seller
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 11
                             Connectivity, XNA, Consumer electronics, Industry,
                             Clothing, Furniture, Construction, Jewelry, Auto
                             technology, MLM partners, Tourism
Mode:  ['XNA']
Categories (11, object): ['Auto technology', 'Clothing', 'Connectivity', 'Construction', ..., 'Jewelry', 'MLM partners', 'Tourism', 'XNA']
--------------------------------------------------

Column Number: 28
Column Name: CNT_PAYMENT
Description:
           Term of previous credit at application of the previous application

Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 372230
Percent of NULL(s): 22.29%
Number of Unique Values: 50
                             12.0, 36.0, 24.0, 18.0, nan,
                             54.0, 30.0, 8.0, 3.0, 6.0,
                             0.0, 48.0, 10.0, 60.0, 42.0,
                             4.0, 5.0, 16.0, 20.0, 7.0
                             ...

Min: 0.0
Max: 84.0
--------------------------------------------------

Column Number: 29
Column Name: NAME_YIELD_GROUP
Description:
           Grouped interest rate into small medium and high of the
           previous application
Special: grouped
Type: category
Number of rows: 1670214
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 5
                             middle, low_action, high, low_normal, XNA

Mode:  ['XNA']
Categories (5, object): ['XNA', 'high', 'low_action', 'low_normal', 'middle']
--------------------------------------------------

Column Number: 30
Column Name: PRODUCT_COMBINATION
Description:
           Detailed product combination of the previous application
Special: nan
Type: category
Number of rows: 1670214
Number of NULL(s): 346
Percent of NULL(s): 0.02%
Number of Unique Values: 18
                             POS mobile with interest, Cash
                             X-Sell: low, Cash X-Sell: high,
                             Cash X-Sell: middle, Cash Street:
                             high, Cash, POS household without
                             interest, POS household with interest,
                             POS other with interest, Card
                             X-Sell, POS mobile without interest,
                             Card Street, POS industry with
                             interest, Cash Street: low, POS
                             industry without interest, Cash Street:
                             middle, POS others without interest,
                             nan
Mode:  ['Cash']
Categories (17, object): ['Card Street', 'Card X-Sell', 'Cash', 'Cash Street: high', ..., 'POS mobile with interest', 'POS mobile without interest', 'POS other with interest', 'POS others without interest']
--------------------------------------------------

Column Number: 31
Column Name: DAYS_FIRST_DRAWING
Description:
           Relative to application date of current application when was the
           first disbursement of the previous application
Special: time only relative to the application
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 2839
                             365243.0, nan, -277.0, -265.0, -479.0,
                             -332.0, -225.0, -212.0, -579.0, -603.0,
                             -296.0, -381.0, -364.0, -308.0, -173.0,
                             -413.0, -821.0, -458.0, -3.0, -384.0
                             ...
Min: -2922.0
Max: 365243.0
--------------------------------------------------

Column Number: 32
Column Name: DAYS_FIRST_DUE
Description:
           Relative to application date of current application when was the
           first due supposed to be of the previous application
Special: time only relative to the application
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 2893
                             -42.0, -134.0, -271.0, -482.0, nan,
                             -654.0, -705.0, -785.0, -830.0, -378.0,
                             -693.0, -668.0, -1440.0, -257.0, -656.0,
                             -340.0, -1457.0, -1853.0, -2671.0, -273.0
                             ...
Min: -2892.0
Max: 365243.0
--------------------------------------------------

Column Number: 33
Column Name: DAYS_LAST_DUE_1ST_VERSION
Description:
           Relative to application date of current application when was the
           first due of the previous application
Special: time only relative to the application
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 4606
                             300.0, 916.0, 59.0, -152.0, nan,
                             -144.0, 885.0, 85.0, -140.0, -168.0,
                             -633.0, -518.0, -1230.0, 365243.0, 214.0,
                             -10.0, -47.0, -1343.0, -2341.0, 57.0
                             ...
Min: -2801.0
Max: 365243.0
--------------------------------------------------

Column Number: 34
Column Name: DAYS_LAST_DUE
Description:
           Relative to application date of current application when was the
           last due date of the previous application
Special: time only relative to the application
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 2874
                             -42.0, 365243.0, -182.0, nan, -144.0,
                             -345.0, -725.0, -200.0, -168.0, -633.0,
                             -518.0, -1230.0, -10.0, -47.0, -1343.0,
                             -2341.0, -183.0, -270.0, -495.0, -808.0
                             ...
Min: -2889.0
Max: 365243.0
--------------------------------------------------

Column Number: 35
Column Name: DAYS_TERMINATION
Description:
           Relative to application date of current application when was the
           expected termination of the previous application
Special: time only relative to the application
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 2831
                             -37.0, 365243.0, -177.0, nan, -137.0,
                             -334.0, -721.0, -197.0, -163.0, -627.0,
                             -512.0, -1226.0, -3.0, -41.0, -1334.0,
                             -2332.0, -179.0, -261.0, -493.0, -804.0
                             ...
Min: -2874.0
Max: 365243.0
--------------------------------------------------

Column Number: 36
Column Name: NFLAG_INSURED_ON_APPROVAL
Description:
           Did the client requested insurance during the previous application
Special: nan
Type: float32
Number of rows: 1670214
Number of NULL(s): 673065
Percent of NULL(s): 40.30%
Number of Unique Values: 3
                             0.0, 1.0, nan
Min: 0.0
Max: 1.0
--------------------------------------------------

In [33]:
application_train["NAME_CONTRACT_TYPE"].unique()

['Cash loans', 'Revolving loans']
Categories (2, object): ['Cash loans', 'Revolving loans']

In [43]:
previous_application["NAME_CONTRACT_TYPE"].unique()

['Consumer loans', 'Cash loans', 'Revolving loans', 'XNA']
Categories (4, object): ['Consumer loans', 'Cash loans', 'Revolving loans', 'XNA']

In [40]:
(previous_application["NAME_CONTRACT_TYPE"] == "Consumer loans").mean()

0.4365614226679934

In [39]:
previous_application[previous_application["NAME_CONTRACT_TYPE"] == "Consumer loans"]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430054,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
13,1397919,321676,Consumer loans,7654.859863,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,Consumer electronics,8.0,low_action,POS household without interest,365243.0,-378.0,-168.0,-168.0,-163.0,1.0
14,2273188,270658,Consumer loans,9644.219727,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,Consumer electronics,3.0,middle,POS household with interest,365243.0,-693.0,-633.0,-633.0,-627.0,0.0
15,1232483,151612,Consumer loans,21307.455078,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,Industry,6.0,low_normal,POS other with interest,365243.0,-668.0,-518.0,-518.0,-512.0,0.0
16,2163253,154602,Consumer loans,4187.339844,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,Consumer electronics,8.0,high,POS household with interest,365243.0,-1440.0,-1230.0,-1230.0,-1226.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670202,2205099,157707,Consumer loans,4334.354980,22207.5,23854.5,0.0,22207.5,THURSDAY,10,...,Clothing,6.0,middle,POS industry with interest,365243.0,-948.0,-798.0,-858.0,-850.0,0.0
1670203,2844282,383898,Consumer loans,NaN,14791.5,14791.5,0.0,14791.5,TUESDAY,13,...,Connectivity,NaN,XNA,POS mobile with interest,NaN,NaN,NaN,NaN,NaN,NaN
1670209,2300464,352015,Consumer loans,14704.290039,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855469,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0

## `POS_CASH_balance.csv`

Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.

This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

In [44]:
POS_CASH_balance = pd.read_csv("data/download/POS_CASH_balance.csv")
POS_CASH_balance = change_dtypes(POS_CASH_balance)
print("POS_CASH_balance.shape:", POS_CASH_balance.shape)
POS_CASH_balance.head()

Memory usage before changing types 640.09 MB
Memory usage after changing types 290.04 MB
POS_CASH_balance.shape: (10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [45]:
[id_col for id_col in POS_CASH_balance.columns.values if id_col.startswith("SK_ID")]

['SK_ID_PREV', 'SK_ID_CURR']

In [46]:
POS_CASH_balance["SK_ID_PREV"].is_unique

False

In [47]:
POS_CASH_balance["SK_ID_CURR"].is_unique

False

In [50]:
# about 44% of previous applications do not have monthly data in POS_CASH_balance
POS_CASH_balance["SK_ID_PREV"].nunique() / previous_application.shape[0]

0.5606018150967481

In [48]:
POS_CASH_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

SK_ID_PREV
1000001     3
1000002     5
1000003     4
1000004     8
1000005    11
Name: SK_ID_CURR, dtype: int64

In [51]:
tmp = POS_CASH_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

SK_ID_PREV
1000001    1
1000002    1
1000003    1
1000004    1
1000005    1
Name: SK_ID_CURR, dtype: int64

Series([], Name: SK_ID_CURR, dtype: int64)

In [52]:
print_col_desc(POS_CASH_balance, "POS_CASH_balance.csv", col_desc)

Column Number: 0
Column Name: SK_ID_PREV
Description:
          No Description, Maybe the column name does not match.
Type: int32
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 936325
                             1803195, 1715348, 1784872, 1903291, 2341044,
                             2207092, 1110516, 1387235, 1220500, 2371489,
                             2328294, 2023570, 1258390, 1627166, 1711625,
                             2374177, 1716688, 1846127, 1911764, 2645133
                             ...
Min: 1000001
Max: 2843499
--------------------------------------------------

Column Number: 1
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: nan
Type: int32
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 337252
                             182943, 367990, 397406, 269225, 334279,
                             342166, 204376, 153211, 112740, 274851,
                             287361, 237959, 278261, 146161, 131467,
                             204722, 405549, 380050, 312551, 152810
                             ...
Min: 100001
Max: 456255
--------------------------------------------------

Column Number: 2
Column Name: MONTHS_BALANCE
Description:
           Month of balance relative to application date (-1 means the
           information to the freshest monthly snapshot, 0 means the information
           at application - often it will be the same as
           -1 as many banks are not updating the information to
           Credit Bureau regularly )
Special: time only relative to the application
Type: int32
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 96
                             -31, -33, -32, -35, -38,
                             -39, -34, -41, -37, -40,
                             -43, -36, -42, -47, -44,
                             -46, -45, -27, -25, -24
                             ...
Min: -96
Max: -1
--------------------------------------------------

Column Number: 3
Column Name: CNT_INSTALMENT
Description:
           Term of previous credit (can change over time)
Special: nan
Type: float32
Number of rows: 10001358
Number of NULL(s): 26071
Percent of NULL(s): 0.26%
Number of Unique Values: 74
                             48.0, 36.0, 12.0, 24.0, 60.0,
                             18.0, 4.0, 42.0, 25.0, 14.0,
                             16.0, 13.0, 8.0, 10.0, 15.0,
                             11.0, 30.0, 54.0, 6.0, 9.0
                             ...
Min: 1.0
Max: 92.0
--------------------------------------------------

Column Number: 4
Column Name: CNT_INSTALMENT_FUTURE
Description:
           Installments left to pay on the previous credit
Special: nan
Type: float32
Number of rows: 10001358
Number of NULL(s): 26087
Percent of NULL(s): 0.26%
Number of Unique Values: 80
                             45.0, 35.0, 9.0, 42.0, 12.0,
                             43.0, 36.0, 16.0, 24.0, 5.0,
                             15.0, 1.0, 28.0, 23.0, 56.0,
                             11.0, 7.0, 18.0, 17.0, 46.0
                             ...
Min: 0.0
Max: 85.0
--------------------------------------------------

Column Number: 5
Column Name: NAME_CONTRACT_STATUS
Description:
           Contract status during the month
Special: nan
Type: category
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 9
                             Active, Completed, Signed, Approved, Returned
                             to the store, Demand, Canceled,
                             XNA, Amortized debt
Mode:  ['Active']
Categories (9, object): ['Active', 'Amortized debt', 'Approved', 'Canceled', ..., 'Demand', 'Returned to the store', 'Signed', 'XNA']
--------------------------------------------------

Column Number: 6
Column Name: SK_DPD
Description:
           DPD (days past due) during the month of previous credit

Special: nan
Type: int32
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 3400
                             0, 1, 2, 4, 3,
                             18, 7, 5, 12, 6,
                             8, 13, 16, 10, 23,
                             1105, 15, 31, 24, 329
                             ...
Min: 0
Max: 4231
--------------------------------------------------

Column Number: 7
Column Name: SK_DPD_DEF
Description:
           DPD during the month with tolerance (debts with low loan
           amounts are ignored) of the previous credit
Special: nan
Type: int32
Number of rows: 10001358
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2307
                             0, 1, 2, 4, 3,
                             18, 7, 5, 12, 8,
                             13, 10, 15, 6, 9,
                             16, 95, 14, 17, 11
                             ...
Min: 0
Max: 3595
--------------------------------------------------

In [65]:
group = POS_CASH_balance.groupby(["SK_ID_PREV"])
count = 0
for name, df in group:
    print(df[["MONTHS_BALANCE"]].sort_values(by="MONTHS_BALANCE", ascending=False).head())
    count += 1
    if count > 5:
        break

         MONTHS_BALANCE
45995                -8
8470736              -9
6030662             -10
         MONTHS_BALANCE
2792302             -50
2658581             -51
2549591             -52
3346102             -53
4467804             -54
         MONTHS_BALANCE
7085917              -1
9852178              -2
6496374              -3
6584537              -4
         MONTHS_BALANCE
4078063             -22
5534254             -23
4978909             -24
5674882             -25
514734              -26
         MONTHS_BALANCE
7852623             -46
6387329             -47
2703957             -48
229709              -49
8657924             -50
         MONTHS_BALANCE
7452784              -1
7240168              -2
9660900              -3
9396411              -4
6185246              -5

In [63]:
POS_CASH_balance.sort_values?

## `credit_card_balance.csv`

Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.

This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

In [66]:
credit_card_balance = pd.read_csv("data/download/credit_card_balance.csv")
credit_card_balance = change_dtypes(credit_card_balance)
print("credit_card_balance.shape:", credit_card_balance.shape)
credit_card_balance.head()

Memory usage before changing types 706.62 MB
Memory usage after changing types 341.79 MB
credit_card_balance.shape: (3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [67]:
credit_card_balance["SK_ID_PREV"].is_unique

False

In [68]:
credit_card_balance["SK_ID_CURR"].is_unique

False

In [70]:
# Only 6% of previous applications having records in credit_card_balance.csv
credit_card_balance["SK_ID_PREV"].nunique() / previous_application.shape[0]

0.06245127869841829

In [69]:
credit_card_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

SK_ID_PREV
1000018     5
1000030     8
1000031    16
1000035     5
1000077    11
Name: SK_ID_CURR, dtype: int64

In [71]:
tmp = credit_card_balance.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

SK_ID_PREV
1000018    1
1000030    1
1000031    1
1000035    1
1000077    1
Name: SK_ID_CURR, dtype: int64

Series([], Name: SK_ID_CURR, dtype: int64)

In [72]:
print_col_desc(credit_card_balance, "credit_card_balance.csv", col_desc)

Column Number: 0
Column Name: SK_ID_PREV
Description:
          No Description, Maybe the column name does not match.
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 104307
                             2562384, 2582071, 1740877, 1389973, 1891521,
                             2646502, 1079071, 2095912, 2181852, 1235299,
                             1108284, 2740914, 1985699, 1441883, 1864742,
                             2037377, 1816636, 1039039, 2016842, 1189095
                             ...
Min: 1000018
Max: 2843496
--------------------------------------------------

Column Number: 1
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: hashed
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 103558
                             378907, 363914, 371185, 337855, 126868,
                             380010, 171320, 118650, 367360, 203885,
                             209660, 340339, 302517, 171537, 303581,
                             289902, 255981, 276642, 302450, 231608
                             ...
Min: 100006
Max: 456250
--------------------------------------------------

Column Number: 2
Column Name: MONTHS_BALANCE
Description:
           Month of balance relative to application date (-1 means the
           freshest balance date)
Special: time only relative to the application
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 96
                             -6, -1, -7, -4, -5,
                             -3, -2, -19, -13, -18,
                             -15, -12, -22, -16, -21,
                             -14, -20, -17, -11, -52
                             ...
Min: -96
Max: -1
--------------------------------------------------

Column Number: 3
Column Name: AMT_BALANCE
Description:
           Balance during the month of previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1347882
                             56.97, 63975.555, 31815.225, 236572.11, 453919.47,
                             82903.81, 353451.66, 47962.125, 291543.06, 201261.19,
                             102076.56, 131669.14, 1427.265, 0.0, 131294.34,
                             72899.95, 452774.7, 45413.73, 68710.14, 85792.09
                             ...
Min: -420250.2
Max: 1505902.1
--------------------------------------------------

Column Number: 4
Column Name: AMT_CREDIT_LIMIT_ACTUAL
Description:
           Credit card limit during the month of the previous credit

Special: nan
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 181
                             135000, 45000, 450000, 225000, 270000,
                             585000, 292500, 180000, 67500, 0,
                             157500, 360000, 540000, 558000, 202500,
                             247500, 112500, 90000, 720000, 315000
                             ...
Min: 0
Max: 1350000
--------------------------------------------------

Column Number: 5
Column Name: AMT_DRAWINGS_ATM_CURRENT
Description:
           Amount drawing at ATM during the month of the previous
           credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 2268
                             0.0, 2250.0, 67500.0, 45000.0, 90000.0,
                             76500.0, 92250.0, 10800.0, 4500.0, 9000.0,
                             105750.0, 135000.0, 42750.0, 31500.0, 450.0,
                             nan, 54000.0, 18000.0, 13500.0, 40500.0
                             ...
Min: -6827.31
Max: 2115000.0
--------------------------------------------------

Column Number: 6
Column Name: AMT_DRAWINGS_CURRENT
Description:
           Amount drawing during the month of the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 187005
                             877.5, 2250.0, 0.0, 11547.0, 67500.0,
                             45000.0, 289339.44, 111026.7, 92250.0, 10800.0,
                             101304.72, 9000.0, 105750.0, 4412.25, 63337.816,
                             279112.5, 76131.0, 32985.0, 3100.5, 1664.46
                             ...
Min: -6211.62
Max: 2287098.2
--------------------------------------------------

Column Number: 7
Column Name: AMT_DRAWINGS_OTHER_CURRENT
Description:
           Amount of other drawings during the month of the previous
           credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 1833
                             0.0, 137700.0, nan, 177840.0, 46800.0,
                             187200.0, 22950.0, 135000.0, 140400.0, 4680.0,
                             133380.0, 5571.0, 19278.0, 18540.0, 74160.0,
                             9180.0, 4455.0, 67493.25, 179838.0, 8910.0
                             ...
Min: 0.0
Max: 1529847.0
--------------------------------------------------

Column Number: 8
Column Name: AMT_DRAWINGS_POS_CURRENT
Description:
           Amount drawing or buying goods during the month of the
           previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 168749
                             877.5, 0.0, 11547.0, 199339.42, 34526.7,
                             96804.72, 4412.25, 18337.814, 6412.5, 33381.0,
                             1485.0, 3100.5, 1214.46, nan, 14847.3,
                             3257.64, 256.5, 4050.0, 31303.484, 19544.535
                             ...
Min: 0.0
Max: 2239274.2
--------------------------------------------------

Column Number: 9
Column Name: AMT_INST_MIN_REGULARITY
Description:
           Minimal installment for this month of the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 305236
Percent of NULL(s): 7.95%
Number of Unique Values: 312267
                             1700.325, 2250.0, 11795.76, 22924.89, 4449.105,
                             14684.175, 0.0, 130.5, 6338.34, 6000.48,
                             3023.955, 12218.49, 6774.66, 2457.72, 22916.475,
                             1471.005, 3315.24, 8921.97, 7875.0, 6906.555
                             ...
Min: 0.0
Max: 202882.0
--------------------------------------------------

Column Number: 10
Column Name: AMT_PAYMENT_CURRENT
Description:
           How much did the client pay during the month on
           the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 767988
Percent of NULL(s): 20.00%
Number of Unique Values: 163210
                             1800.0, 2250.0, 11925.0, 27000.0, 3825.0,
                             15750.0, 264.69, 4093.515, 45000.0, 4500.0,
                             6322.5, 85500.0, 2607.795, 2.295, 6975.0,
                             25200.0, 0.0, 86887.98, 3375.0, 23181.57
                             ...
Min: 0.0
Max: 4289207.5
--------------------------------------------------

Column Number: 11
Column Name: AMT_PAYMENT_TOTAL_CURRENT
Description:
           How much did the client pay during the month in
           total on the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 182957
                             1800.0, 2250.0, 11925.0, 27000.0, 3825.0,
                             15750.0, 0.0, 4093.515, 45000.0, 4500.0,
                             6322.5, 85500.0, 1448.64, 6975.0, 25200.0,
                             84637.98, 3375.0, 18521.55, 9000.0, 7875.0
                             ...
Min: 0.0
Max: 4278315.5
--------------------------------------------------

Column Number: 12
Column Name: AMT_RECEIVABLE_PRINCIPAL
Description:
           Amount receivable for principal on the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%

Number of Unique Values: 1195807
                             0.0, 60175.08, 26926.426, 224949.28, 443044.4,
                             80519.04, 345433.88, 44735.31, 285376.4, 192793.28,
                             92237.35, 121430.7, 128518.02, 68954.805, 440329.06,
                             43650.855, 67341.87, 85086.945, 448552.12, 146858.0
                             ...
Min: -423305.8
Max: 1472316.8
--------------------------------------------------

Column Number: 13
Column Name: AMT_RECIVABLE
Description:
           Amount receivable on the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1338857
                             0.0, 64875.555, 31460.086, 233048.97, 453919.47,
                             82773.31, 351881.16, 47962.125, 286831.56, 197224.69,
                             94224.06, 127891.94, 131294.34, 71554.45, 451429.2,
                             44068.23, 68710.14, 85792.09, 456379.47, 152801.55
                             ...
Min: -420250.2
Max: 1493338.1
--------------------------------------------------

Column Number: 14
Column Name: AMT_TOTAL_RECEIVABLE
Description:
           Total amount receivable on the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 1338987
                             0.0, 64875.555, 31460.086, 233048.97, 453919.47,
                             82773.31, 351881.16, 47962.125, 286831.56, 197224.69,
                             94224.06, 127891.94, 131294.34, 71554.45, 451429.2,
                             44068.23, 68710.14, 85792.09, 456379.47, 152801.55
                             ...
Min: -420250.2
Max: 1493338.1
--------------------------------------------------

Column Number: 15
Column Name: CNT_DRAWINGS_ATM_CURRENT
Description:
           Number of drawings at ATM during this month on the
           previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 45
                             0.0, 1.0, 3.0, 5.0, 2.0,
                             nan, 6.0, 13.0, 4.0, 8.0,
                             9.0, 7.0, 10.0, 12.0, 11.0,
                             18.0, 19.0, 14.0, 15.0, 16.0
                             ...
Min: 0.0
Max: 51.0
--------------------------------------------------

Column Number: 16
Column Name: CNT_DRAWINGS_CURRENT
Description:
           Number of drawings during this month on the previous credit

Special: nan
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 129
                             1, 0, 8, 9, 5,
                             2, 30, 3, 4, 7,
                             14, 38, 12, 19, 26,
                             17, 33, 6, 15, 10
                             ...
Min: 0
Max: 165
--------------------------------------------------

Column Number: 17
Column Name: CNT_DRAWINGS_OTHER_CURRENT
Description:
           Number of other drawings during this month on the previous
           credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 12
                             0.0, 1.0, nan, 3.0, 2.0,
                             4.0, 6.0, 5.0, 7.0, 8.0,
                             10.0, 12.0
Min: 0.0
Max: 12.0
--------------------------------------------------

Column Number: 18
Column Name: CNT_DRAWINGS_POS_CURRENT
Description:
           Number of drawings for goods during this month on the
           previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 749816
Percent of NULL(s): 19.52%
Number of Unique Values: 134
                             1.0, 0.0, 5.0, 6.0, 29.0,
                             4.0, 8.0, 2.0, nan, 14.0,
                             38.0, 12.0, 3.0, 17.0, 26.0,
                             7.0, 30.0, 15.0, 9.0, 10.0
                             ...
Min: 0.0
Max: 165.0
--------------------------------------------------

Column Number: 19
Column Name: CNT_INSTALMENT_MATURE_CUM
Description:
           Number of paid installments on the previous credit
Special: nan
Type: float32
Number of rows: 3840312
Number of NULL(s): 305236
Percent of NULL(s): 7.95%
Number of Unique Values: 122
                             35.0, 69.0, 30.0, 10.0, 101.0,
                             2.0, 6.0, 51.0, 3.0, 38.0,
                             0.0, 27.0, 59.0, 11.0, 42.0,
                             33.0, 22.0, 16.0, 5.0, 25.0
                             ...
Min: 0.0
Max: 120.0
--------------------------------------------------

Column Number: 20
Column Name: NAME_CONTRACT_STATUS
Description:
           Contract status (active signed,...) on the previous credit
Special: nan
Type: category
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 7
                             Active, Completed, Demand, Signed, Sent
                             proposal, Refused, Approved
Mode:  ['Active']
Categories (7, object): ['Active', 'Approved', 'Completed', 'Demand', 'Refused', 'Sent proposal', 'Signed']
--------------------------------------------------

Column Number: 21
Column Name: SK_DPD
Description:
           DPD (Days past due) during the month on the previous
           credit
Special: nan
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 917
                             0, 7, 2192, 717, 28,
                             18, 1676, 1706, 1311, 1158,
                             1462, 99, 1341, 1645, 270,
                             1127, 68, 1188, 641, 1827
                             ...
Min: 0
Max: 3260
--------------------------------------------------

Column Number: 22
Column Name: SK_DPD_DEF
Description:
           DPD (Days past due) during the month with tolerance (debts
           with low loan amounts are ignored) of the previous credit

Special: nan
Type: int32
Number of rows: 3840312
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 378
                             0, 7, 99, 1, 701,
                             8, 5, 63, 31, 1158,
                             1007, 62, 122, 18, 610,
                             12, 30, 189, 1217, 32
                             ...
Min: 0
Max: 3260
--------------------------------------------------

##  `installments_payments.csv`

Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.

There is a) one row for every payment that was made plus b) one row each for missed payment.

One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

In [73]:
installments_payments = pd.read_csv("data/download/installments_payments.csv")
installments_payments = change_dtypes(installments_payments)
print("installments_payments.shape:", installments_payments.shape)
installments_payments.head()

Memory usage before changing types 870.75 MB
Memory usage after changing types 435.37 MB
installments_payments.shape: (13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961

In [74]:
installments_payments["SK_ID_PREV"].is_unique

False

In [75]:
installments_payments["SK_ID_CURR"].is_unique

False

In [78]:
# about 40% of previous applications do not have records in installments_payments
installments_payments["SK_ID_PREV"].nunique() / previous_application.shape[0]

0.5973797369678376

In [79]:
installments_payments.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].count().head()

SK_ID_PREV
1000001     2
1000002     4
1000003     3
1000004     7
1000005    11
Name: SK_ID_CURR, dtype: int64

In [80]:
tmp = installments_payments.groupby(by=["SK_ID_PREV"])["SK_ID_CURR"].nunique()
print(tmp.head())

# so each "SK_ID_PREV" is corresponding to a unique "SK_ID_CURR"
tmp[tmp > 1]

SK_ID_PREV
1000001    1
1000002    1
1000003    1
1000004    1
1000005    1
Name: SK_ID_CURR, dtype: int64

Series([], Name: SK_ID_CURR, dtype: int64)

In [81]:
print_col_desc(installments_payments, "installments_payments.csv", col_desc)

Column Number: 0
Column Name: SK_ID_PREV
Description:
          No Description, Maybe the column name does not match.
Type: int32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 997752
                             1054186, 1330831, 2085231, 2452527, 2714724,
                             1137312, 2234264, 1818599, 2723183, 1413990,
                             1782554, 2558880, 1570206, 1723268, 1594684,
                             1456258, 1053286, 1410565, 2391610, 2329072
                             ...
Min: 1000001
Max: 2843499
--------------------------------------------------

Column Number: 1
Column Name: SK_ID_CURR
Description:
           ID of loan in our sample
Special: hashed
Type: int32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 339587
                             161674, 151639, 193053, 199697, 167756,
                             164489, 184693, 111420, 112102, 109741,
                             106597, 154793, 147645, 197273, 100193,
                             118323, 170192, 197687, 183431, 183463
                             ...
Min: 100001
Max: 456255
--------------------------------------------------

Column Number: 2
Column Name: NUM_INSTALMENT_VERSION
Description:
           Version of installment calendar (0 is for credit card) of
           previous credit. Change of installment version from month to month
           signifies that some parameter of payment calendar has changed
Special: nan
Type: float32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 65
                             1.0, 0.0, 2.0, 4.0, 3.0,
                             5.0, 7.0, 8.0, 6.0, 13.0,
                             9.0, 21.0, 22.0, 12.0, 17.0,
                             18.0, 11.0, 14.0, 34.0, 33.0
                             ...
Min: 0.0
Max: 178.0
--------------------------------------------------

Column Number: 3
Column Name: NUM_INSTALMENT_NUMBER
Description:
           On which installment we observe payment
Special: nan
Type: int32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 277
                             6, 34, 1, 3, 2,
                             12, 11, 4, 14, 8,
                             20, 56, 7, 23, 38,
                             116, 5, 46, 106, 9
                             ...
Min: 1
Max: 277
--------------------------------------------------

Column Number: 4
Column Name: DAYS_INSTALMENT
Description:
           When the installment of previous credit was supposed to be
           paid (relative to application date of current loan)
Special: time only relative to the application
Type: float32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 2922
                             -1180.0, -2156.0, -63.0, -2418.0, -1383.0,
                             -1384.0, -349.0, -968.0, -197.0, -570.0,
                             -933.0, -1262.0, -761.0, -755.0, -1153.0,
                             -2619.0, -500.0, -1037.0, -1680.0, -1699.0
                             ...
Min: -2922.0
Max: -1.0
--------------------------------------------------

Column Number: 5
Column Name: DAYS_ENTRY_PAYMENT
Description:
           When was the installments of previous credit paid actually (relative
           to application date of current loan)
Special: time only relative to the application
Type: float32
Number of rows: 13605401
Number of NULL(s): 2905
Percent of NULL(s): 0.02%
Number of Unique Values: 3040
                             -1187.0, -2156.0, -63.0, -2426.0, -1366.0,
                             -1417.0, -352.0, -994.0, -197.0, -609.0,
                             -937.0, -1269.0, -761.0, -800.0, -1153.0,
                             -2619.0, -503.0, -1048.0, -1693.0, -365.0
                             ...
Min: -4921.0
Max: -1.0
--------------------------------------------------

Column Number: 6
Column Name: AMT_INSTALMENT
Description:
           What was the prescribed installment amount of previous credit on
           this installment
Special: nan
Type: float32
Number of rows: 13605401
Number of NULL(s): 0
Percent of NULL(s): 0.00%
Number of Unique Values: 902522
                             6948.36, 1716.525, 25425.0, 24350.13, 2165.04,
                             5970.375, 29432.295, 17862.164, 70.74, 14308.47,
                             34620.523, 15031.08, 21.51, 6093.99, 301.86,
                             4844.925, 6882.84, 12514.05, 7875.0, 7283.295
                             ...
Min: 0.0
Max: 3771487.8
--------------------------------------------------

Column Number: 7
Column Name: AMT_PAYMENT
Description:
           What the client actually paid on previous credit on this
           installment
Special: nan
Type: float32
Number of rows: 13605401
Number of NULL(s): 2905
Percent of NULL(s): 0.02%
Number of Unique Values: 944215
                             6948.36, 1716.525, 25425.0, 24350.13, 2160.585,
                             5970.375, 29432.295, 17862.164, 70.74, 14308.47,
                             34620.523, 15031.08, 21.51, 6093.99, 301.86,
                             4844.925, 6882.84, 12510.45, 7875.0, 7283.295
                             ...
Min: 0.0
Max: 3771487.8
--------------------------------------------------