In this notebook we will aggregate and merge tables

In [6]:
%load_ext autoreload
%autoreload 2

import os
import gc
import pandas as pd
import numpy as np

from _preprocessing import aggregate
from _preprocessing import change_dtypes

INP_DIR = "data/download"
OUT_DIR = "data/data_"

NUM_STATS = ("count", "median", "min", "max", "sum")
CAT_STATS = (("count", "sum"), ("percent", "mean"))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load `application_train.csv` and `application_test.csv`

In [9]:
application_train = pd.read_csv(os.path.join(INP_DIR, "application_train.csv"))
application_train = change_dtypes(application_train)

application_test = pd.read_csv(os.path.join(INP_DIR, "application_test.csv"))
application_test = change_dtypes(application_test)

print("application_train shape", application_train.shape)
print("application_test shape", application_test.shape)

Memory usage before changing types 300.13 MB
Memory usage after changing types 129.78 MB
Memory usage before changing types 47.18 MB
Memory usage after changing types 20.53 MB
application_train shape (307511, 122)
application_test shape (48744, 121)

## Write to csv

In [10]:
X_train_0 = application_train.drop(["SK_ID_CURR", "TARGET"], axis=1)
y_train = application_train[["TARGET"]]

X_test_0 = application_test.drop(["SK_ID_CURR"], axis=1)
id_test =  application_test[["SK_ID_CURR"]]


# write to csv files
X_train_0.to_csv(os.path.join(OUT_DIR, "X_train_0.csv"), index=False)
y_train.to_csv(os.path.join(OUT_DIR, "y_train.csv"), index=False)

X_test_0.to_csv(os.path.join(OUT_DIR, "X_test_0.csv"), index=False)
id_test.to_csv(os.path.join(OUT_DIR, "id_test.csv"), index=False)

gc.enable()
del X_train_0, y_train, X_test_0, id_test
gc.collect()

5635

## Aggregate table `bureau_balance` by column `SK_ID_BUREAU`

In [11]:
bureau_balance = pd.read_csv(os.path.join(INP_DIR, "bureau_balance.csv"))
bureau_balance = change_dtypes(bureau_balance)

bureau_balance_agg = aggregate(bureau_balance, by=["SK_ID_BUREAU"], 
                               num_stats=NUM_STATS, cat_stats=CAT_STATS,
                               prefix="bb_")
gc.enable()
del bureau_balance
gc.collect()

bureau_balance_agg.head()

Memory usage before changing types 655.20 MB
Memory usage after changing types 245.70 MB

   SK_ID_BUREAU  bb_MONTHS_BALANCE_count  ...  bb_STATUS_X_count  bb_STATUS_X_percent
0       5001709                       97  ...                 11             0.113402
1       5001710                       83  ...                 30             0.361446
2       5001711                        4  ...                  1             0.250000
3       5001712                       19  ...                  0             0.000000
4       5001713                       22  ...                 22             1.000000

[5 rows x 22 columns]

## Merge table `bureau_balance_agg` with table `bureau` on column `SK_ID_BUREAU`

In [12]:
bureau = pd.read_csv(os.path.join(INP_DIR, "bureau.csv"))
bureau = change_dtypes(bureau)

bureau_merge = bureau.merge(bureau_balance_agg, how="left", on="SK_ID_BUREAU")

bureau_merge = bureau_merge.drop(["SK_ID_BUREAU"], axis=1)

print("bureau shape:", bureau.shape)
print("bureau_merge shape:", bureau_merge.shape)

gc.enable()
del bureau
gc.collect()

bureau_merge.head()

Memory usage before changing types 233.43 MB
Memory usage after changing types 101.27 MB
bureau shape: (1716428, 17)
bureau_merge shape: (1716428, 37)

   SK_ID_CURR CREDIT_ACTIVE CREDIT_CURRENCY  ...  bb_STATUS_C_percent  bb_STATUS_X_count  bb_STATUS_X_percent
0      215354        Closed      currency 1  ...                  NaN                NaN                  NaN
1      215354        Active      currency 1  ...                  NaN                NaN                  NaN
2      215354        Active      currency 1  ...                  NaN                NaN                  NaN
3      215354        Active      currency 1  ...                  NaN                NaN                  NaN
4      215354        Active      currency 1  ...                  NaN                NaN                  NaN

[5 rows x 37 columns]

## Aggregate table `bureau_merge` by column `SK_ID_CURR`

In [13]:
bureau_agg = aggregate(bureau_merge, by=["SK_ID_CURR"], num_stats=NUM_STATS, cat_stats=CAT_STATS, prefix="bu_")

print("bureau_merge shape:", bureau_merge.shape)
print("bureau_agg shape:", bureau_agg.shape)
print("application_train shape:", application_train.shape)

gc.enable()
del bureau_merge
gc.collect()

bureau_agg.head()

bureau_merge shape: (1716428, 37)
bureau_agg shape: (305811, 212)
application_train shape: (307511, 122)

   SK_ID_CURR  ...  bu_CREDIT_TYPE_Unknown type of loan_percent
0      100001  ...                                          0.0
1      100002  ...                                          0.0
2      100003  ...                                          0.0
3      100004  ...                                          0.0
4      100005  ...                                          0.0

[5 rows x 212 columns]

## Merge table `bureau_agg` with `application_train` and `application_test`

In [14]:
application_bureau_train = application_train.merge(bureau_agg, how="left", on="SK_ID_CURR")
application_bureau_test = application_test.merge(bureau_agg, how="left", on="SK_ID_CURR")

print("application_train shape:", application_train.shape)
print("application_bureau_train shape:", application_bureau_train.shape)

print("application_test shape:", application_test.shape)
print("application_bureau_test shape:", application_bureau_test.shape)

gc.enable()
del bureau_agg
gc.collect()

application_train shape: (307511, 122)
application_bureau_train shape: (307511, 333)
application_test shape: (48744, 121)
application_bureau_test shape: (48744, 332)

14

In [15]:
application_bureau_train.head()

   SK_ID_CURR  TARGET  ... bu_CREDIT_TYPE_Unknown type of loan_count bu_CREDIT_TYPE_Unknown type of loan_percent
0      100002    True  ...                                       0.0                                         0.0
1      100003   False  ...                                       0.0                                         0.0
2      100004   False  ...                                       0.0                                         0.0
3      100006   False  ...                                       NaN                                         NaN
4      100007   False  ...                                       0.0                                         0.0

[5 rows x 333 columns]

In [16]:
application_bureau_test.head()

   SK_ID_CURR  ... bu_CREDIT_TYPE_Unknown type of loan_percent
0      100001  ...                                         0.0
1      100005  ...                                         0.0
2      100013  ...                                         0.0
3      100028  ...                                         0.0
4      100038  ...                                         NaN

[5 rows x 332 columns]

## Write to csv files

In [17]:
X_train_1 = application_bureau_train.drop(["SK_ID_CURR", "TARGET"], axis=1)
X_test_1 = application_bureau_test.drop(["SK_ID_CURR"], axis=1)

# write to csv files
X_train_1.to_csv(os.path.join(OUT_DIR, "X_train_1.csv"), index=False)
X_test_1.to_csv(os.path.join(OUT_DIR, "X_test_1.csv"), index=False)

gc.enable()
del X_train_1, X_test_1
gc.collect()

118

## Aggregate table `POS_CASH_balance` by column `SK_ID_PREV`

In [18]:
POS_CASH_balance = pd.read_csv(os.path.join(INP_DIR, "POS_CASH_balance.csv"))
POS_CASH_balance = change_dtypes(POS_CASH_balance)

POS_CASH_balance_agg = aggregate(POS_CASH_balance.drop(["SK_ID_CURR"], axis=1), by=["SK_ID_PREV"],
                                num_stats=NUM_STATS, cat_stats=CAT_STATS,
                                prefix="pc_")

print("POS_CASH_balance shape:", POS_CASH_balance.shape)
print("POS_CASH_balance_agg shape:", POS_CASH_balance_agg.shape)

gc.enable()
del POS_CASH_balance
gc.collect()

POS_CASH_balance_agg.head()

Memory usage before changing types 640.09 MB
Memory usage after changing types 290.04 MB
POS_CASH_balance shape: (10001358, 8)
POS_CASH_balance_agg shape: (936325, 44)

   SK_ID_PREV  pc_MONTHS_BALANCE_count  ...  pc_NAME_CONTRACT_STATUS_XNA_count  pc_NAME_CONTRACT_STATUS_XNA_percent
0     1000001                        3  ...                                  0                                  0.0
1     1000002                        5  ...                                  0                                  0.0
2     1000003                        4  ...                                  0                                  0.0
3     1000004                        8  ...                                  0                                  0.0
4     1000005                       11  ...                                  0                                  0.0

[5 rows x 44 columns]

## Aggregate table `installments_payments.csv` by column `SK_ID_PREV`

In [19]:
installments_payments = pd.read_csv(os.path.join(INP_DIR, "installments_payments.csv"))
installments_payments = change_dtypes(installments_payments)

installments_payments_agg = aggregate(installments_payments.drop(["SK_ID_CURR"], axis=1), by=["SK_ID_PREV"],
                                      num_stats=NUM_STATS, cat_stats=CAT_STATS,
                                      prefix="ip_")

print("installments_payments shape:", installments_payments.shape)
print("installments_payments_agg shape:", installments_payments_agg.shape)

gc.enable()
del installments_payments
gc.collect()

installments_payments_agg.head()

Memory usage before changing types 870.75 MB
Memory usage after changing types 435.37 MB
No categorical columns in df
installments_payments shape: (13605401, 8)
installments_payments_agg shape: (997752, 31)

   SK_ID_PREV  ip_NUM_INSTALMENT_VERSION_count  ...  ip_AMT_PAYMENT_max  ip_AMT_PAYMENT_sum
0     1000001                                2  ...        62039.113281        68443.421875
1     1000002                                4  ...        18443.564453        37235.562500
2     1000003                                3  ...         4951.350098        14854.050781
3     1000004                                7  ...        13176.495117        33523.156250
4     1000005                               11  ...        14713.605469       147021.703125

[5 rows x 31 columns]

## Aggregate table `credit_card_balance` by column `SK_ID_PREV`

In [20]:
credit_card_balance = pd.read_csv(os.path.join(INP_DIR, "credit_card_balance.csv"))
credit_card_balance = change_dtypes(credit_card_balance)

credit_card_balance_agg = aggregate(credit_card_balance.drop(["SK_ID_CURR"], axis=1), by=["SK_ID_PREV"],
                                    num_stats=NUM_STATS, cat_stats=CAT_STATS, 
                                    prefix="cc_")

print("credit_card_balance shape:", credit_card_balance.shape)
print("credit_card_balance_agg shape:", credit_card_balance_agg.shape)

gc.enable()
del credit_card_balance
gc.collect()

credit_card_balance_agg.head()

Memory usage before changing types 706.62 MB
Memory usage after changing types 341.79 MB
credit_card_balance shape: (3840312, 23)
credit_card_balance_agg shape: (104307, 115)

   SK_ID_PREV  ...  cc_NAME_CONTRACT_STATUS_Signed_percent
0     1000018  ...                                     0.0
1     1000030  ...                                     0.0
2     1000031  ...                                     0.0
3     1000035  ...                                     0.0
4     1000077  ...                                     0.0

[5 rows x 115 columns]

## Merge tables `POS_CASH_balance_agg`, `installments_payments_agg`, `credit_card_balance_agg` with `previous_application`

In [21]:
previous_application = pd.read_csv(os.path.join(INP_DIR, "previous_application.csv"))
previous_application = change_dtypes(previous_application)
print("previous_application shape:", previous_application.shape)

# merge with POS_CASH_balance_agg
previous_application_merge = previous_application.merge(POS_CASH_balance_agg, how="left", on="SK_ID_PREV")
print("previous_application shape after merging with POS_CASH_balance_agg:", previous_application_merge.shape)

# merge with installments_payments_agg
previous_application_merge = previous_application_merge.merge(installments_payments_agg, how="left", on="SK_ID_PREV")
print("previous_application shape after merging with installments_payments_agg:", previous_application_merge.shape)

# merge with credit_card_balance_agg
previous_application_merge = previous_application_merge.merge(credit_card_balance_agg, how="left", on="SK_ID_PREV")
print("previous_application shape after merging with credit_card_balance_agg:", previous_application_merge.shape)

gc.enable()
del previous_application, POS_CASH_balance_agg, installments_payments_agg, credit_card_balance_agg
gc.collect()

previous_application_merge.head()

Memory usage before changing types 494.38 MB
Memory usage after changing types 162.02 MB
previous_application shape: (1670214, 37)
previous_application shape after merging with POS_CASH_balance_agg: (1670214, 80)
previous_application shape after merging with installments_payments_agg: (1670214, 110)
previous_application shape after merging with credit_card_balance_agg: (1670214, 224)

   SK_ID_PREV  SK_ID_CURR  ... cc_NAME_CONTRACT_STATUS_Signed_count  cc_NAME_CONTRACT_STATUS_Signed_percent
0     2030495      271877  ...                                  NaN                                     NaN
1     2802425      108129  ...                                  NaN                                     NaN
2     2523466      122040  ...                                  NaN                                     NaN
3     2819243      176158  ...                                  NaN                                     NaN
4     1784265      202054  ...                                  NaN                                     NaN

[5 rows x 224 columns]

## Aggregate table previous_application_merge by column `SK_ID_CURR`

In [22]:
previous_application_agg = aggregate(previous_application_merge.drop(["SK_ID_PREV"], axis=1), by=["SK_ID_CURR"],
                                     num_stats=NUM_STATS, cat_stats=CAT_STATS,
                                     prefix="pa_")

print("previous_application_merg shape:", previous_application_merge.shape)
print("previous_application_agg shape:", previous_application_agg.shape)

gc.enable()
del previous_application_merge
gc.collect()

previous_application_agg.head()

previous_application_merg shape: (1670214, 224)
previous_application_agg shape: (338857, 1312)

   SK_ID_CURR  ...  pa_PRODUCT_COMBINATION_POS others without interest_percent
0      100001  ...                                                0.0
1      100002  ...                                                0.0
2      100003  ...                                                0.0
3      100004  ...                                                0.0
4      100005  ...                                                0.0

[5 rows x 1312 columns]

## Merge table `previous_application_agg` with `application_train` and `application_test`

In [23]:
application_bureau_previous_train = application_bureau_train.merge(previous_application_agg, 
                                                                   how="left", on="SK_ID_CURR")

print("application_bureau_train shape:", application_bureau_train.shape)
print("application_bureau_previous_train shape:", application_bureau_previous_train.shape)
del application_bureau_train

application_bureau_previous_test = application_bureau_test.merge(previous_application_agg, 
                                                                   how="left", on="SK_ID_CURR")

print("application_bureau_test shape:", application_bureau_test.shape)
print("application_bureau_previous_test shape:", application_bureau_previous_test.shape)

gc.enable()
del application_bureau_test
gc.collect()

application_bureau_train shape: (307511, 333)
application_bureau_previous_train shape: (307511, 1644)
application_bureau_test shape: (48744, 332)
application_bureau_previous_test shape: (48744, 1643)

0

## Write to csv files

In [24]:
X_train_2 = application_bureau_previous_train.drop(["SK_ID_CURR", "TARGET"], axis=1)
X_train_2.to_csv(os.path.join(OUT_DIR, "X_train_2.csv"), index=False)

gc.enable()
del X_train_2
del application_bureau_previous_train
gc.collect()

X_test_2 = application_bureau_previous_test.drop(["SK_ID_CURR"], axis=1)
X_test_2.to_csv(os.path.join(OUT_DIR, "X_test_2.csv"), index=False)

gc.enable()
del application_bureau_previous_test
del X_test_2
gc.collect()

0

## Summary
We have created three datasets in `data/data_`.

1. `X_train_0.csv` and `X_test_0.csv` are just the original tables from Kaggle, `application_train.csv` and `application_test.csv` with the `TARGET` and `SK_ID_CURR` being removed.

2. `X_train_1.csv` and `X_test_1.csv` are the data in 1 merged with `bureau.csv` and `bureau_balance.csv`.

3. `X_train_2.csv` and `X_test_2.csv` are the data in 2 merged with `previous_application.csv`, `POS_CASH_balance.csv`, `installments_payments.csv` and `credit_card_balance.csv`.