In this notebook we will aggregate and merge tables

In [1]:
import os
import pandas as pd
import numpy as np

from preprocessing import aggregate

INP_DIR = "data/download"
OUT_DIR = "data/data_"

NUM_STATS = ("count", "mean", "median", "min", "max")
CAT_STATS = (("count", "sum"), ("percent", "mean"))

## Load `application_train.csv` and `application_test.csv`

In [2]:
application_train = pd.read_csv(os.path.join(INP_DIR, "application_train.csv"))
application_test = pd.read_csv(os.path.join(INP_DIR, "application_test.csv"))

print("application_train shape", application_train.shape)
print("application_test shape", application_test.shape)

application_train shape (307511, 122)
application_test shape (48744, 121)

## Write to csv

In [3]:
X_train_0 = application_train.drop(["SK_ID_CURR", "TARGET"], axis=1)
y_train = application_train[["TARGET"]]

X_test_0 = application_test.drop(["SK_ID_CURR"], axis=1)
id_test =  application_test[["SK_ID_CURR"]]


# write to csv files
X_train_0.to_csv(os.path.join(OUT_DIR, "X_train_0.csv"), index=False)
y_train.to_csv(os.path.join(OUT_DIR, "y_train.csv"), index=False)

X_test_0.to_csv(os.path.join(OUT_DIR, "X_test_0.csv"), index=False)
id_test.to_csv(os.path.join(OUT_DIR, "id_test.csv"), index=False)

del X_train_0, y_train, X_test_0, id_test

## Load `bureau.csv` and `bureau_balance.csv`

In [4]:
bureau = pd.read_csv(os.path.join(INP_DIR, "bureau.csv"))
bureau_balance = pd.read_csv(os.path.join(INP_DIR, "bureau_balance.csv"))

print("bureau shape:", bureau.shape)
print("bureau_balance shape:", bureau_balance.shape)

print("Is SK_ID_BUREAU in bureau unique:", bureau["SK_ID_BUREAU"].is_unique)
print("Is SK_ID_BUREAU in bureau_balance unique:", bureau_balance["SK_ID_BUREAU"].is_unique)

bureau shape: (1716428, 17)
bureau_balance shape: (27299925, 3)
Is SK_ID_BUREAU in bureau unique: True
Is SK_ID_BUREAU in bureau_balance unique: False

In [5]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [6]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

## Aggregate table `bureau_balance` by column `SK_ID_BUREAU`

In [10]:
bureau_balance_agg = aggregate(bureau_balance, by=["SK_ID_BUREAU"], 
                               num_stats=NUM_STATS, cat_stats=CAT_STATS,
                               prefix="bb_")
bureau_balance_agg.head()

,SK_ID_BUREAU,bb_MONTHS_BALANCE_count,bb_MONTHS_BALANCE_mean,bb_MONTHS_BALANCE_median,bb_MONTHS_BALANCE_min,bb_MONTHS_BALANCE_max,bb_STATUS_0_count,bb_STATUS_0_percent,bb_STATUS_1_count,bb_STATUS_1_percent,...,bb_STATUS_3_count,bb_STATUS_3_percent,bb_STATUS_4_count,bb_STATUS_4_percent,bb_STATUS_5_count,bb_STATUS_5_percent,bb_STATUS_C_count,bb_STATUS_C_percent,bb_STATUS_X_count,bb_STATUS_X_percent
0,5001709,97,-48.0,-48.0,-96,0,0,0.000000,0,0.0,...,0,0.0,0,0.0,0,0.0,86,0.886598,11,0.113402
1,5001710,83,-41.0,-41.0,-82,0,5,0.060241,0,0.0,...,0,0.0,0,0.0,0,0.0,48,0.578313,30,0.361446
2,5001711,4,-1.5,-1.5,-3,0,3,0.750000,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.000000,1,0.250000
3,5001712,19,-9.0,-9.0,-18,0,10,0.526316,0,0.0,...,0,0.0,0,0.0,0,0.0,9,0.473684,0,0.000000
4,5001713,22,-10.5,-10.5,-21,0,0,0.000000,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.000000,22,1.000000

## Merge table `bureau_balance_agg` with table `bureau` on column `SK_ID_BUREAU`

In [11]:
bureau_merge = bureau.merge(bureau_balance_agg, how="left", on="SK_ID_BUREAU")

print("Is SK_ID_BUREAU in bureau_merge unique:", bureau_merge["SK_ID_BUREAU"].is_unique)
print("Is SK_ID_CURR in bureau_merge unique:", bureau_merge["SK_ID_CURR"].is_unique)

bureau_merge = bureau_merge.drop(["SK_ID_BUREAU"], axis=1)

print("bureau shape:", bureau.shape)
print("bureau_merge shape:", bureau_merge.shape)

bureau_merge.head()

Is SK_ID_BUREAU in bureau_merge unique: True
Is SK_ID_CURR in bureau_merge unique: False
bureau shape: (1716428, 17)
bureau_merge shape: (1716428, 37)

,SK_ID_CURR,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,...,bb_STATUS_3_count,bb_STATUS_3_percent,bb_STATUS_4_count,bb_STATUS_4_percent,bb_STATUS_5_count,bb_STATUS_5_percent,bb_STATUS_C_count,bb_STATUS_C_percent,bb_STATUS_X_count,bb_STATUS_X_percent
0,215354,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Aggregate table `bureau_merge` by column `SK_ID_CURR`

In [16]:
bureau_agg = aggregate(bureau_merge, by=["SK_ID_CURR"], num_stats=NUM_STATS, cat_stats=CAT_STATS, prefix="bu_")

print("Is SK_ID_CURR in bureau_agg unique:", bureau_agg["SK_ID_CURR"].is_unique)

print("bureau_merge shape:", bureau_merge.shape)
print("bureau_agg shape:", bureau_agg.shape)
print("application_train shape:", application_train.shape)

bureau_agg.head()

Is SK_ID_CURR in bureau_agg unique: True
bureau_merge shape: (1716428, 37)
bureau_agg shape: (305811, 212)
application_train shape: (307511, 122)

,SK_ID_CURR,bu_DAYS_CREDIT_count,bu_DAYS_CREDIT_mean,bu_DAYS_CREDIT_median,bu_DAYS_CREDIT_min,bu_DAYS_CREDIT_max,bu_CREDIT_DAY_OVERDUE_count,bu_CREDIT_DAY_OVERDUE_mean,bu_CREDIT_DAY_OVERDUE_median,bu_CREDIT_DAY_OVERDUE_min,...,bu_CREDIT_TYPE_Microloan_count,bu_CREDIT_TYPE_Microloan_percent,bu_CREDIT_TYPE_Mobile operator loan_count,bu_CREDIT_TYPE_Mobile operator loan_percent,bu_CREDIT_TYPE_Mortgage_count,bu_CREDIT_TYPE_Mortgage_percent,bu_CREDIT_TYPE_Real estate loan_count,bu_CREDIT_TYPE_Real estate loan_percent,bu_CREDIT_TYPE_Unknown type of loan_count,bu_CREDIT_TYPE_Unknown type of loan_percent
0,100001,7,-735.000000,-857.0,-1572,-49,7,0.0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,100002,8,-874.000000,-1042.5,-1437,-103,8,0.0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,100003,4,-1400.750000,-1205.5,-2586,-606,4,0.0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,100004,2,-867.000000,-867.0,-1326,-408,2,0.0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,100005,3,-190.666667,-137.0,-373,-62,3,0.0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

## Merge table `bureau_agg` with `application_train` and `application_test`

In [25]:
application_bureau_train = application_train.merge(bureau_agg, how="left", on="SK_ID_CURR")
application_bureau_test = application_test.merge(bureau_agg, how="left", on="SK_ID_CURR")

print("application_train shape:", application_train.shape)
print("application_bureau_train shape:", application_bureau_train.shape)

print("application_test shape:", application_test.shape)
print("application_bureau_test shape:", application_bureau_test.shape)

application_train shape: (307511, 122)
application_bureau_train shape: (307511, 333)
application_test shape: (48744, 121)
application_bureau_test shape: (48744, 332)

In [26]:
application_bureau_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,bu_CREDIT_TYPE_Microloan_count,bu_CREDIT_TYPE_Microloan_percent,bu_CREDIT_TYPE_Mobile operator loan_count,bu_CREDIT_TYPE_Mobile operator loan_percent,bu_CREDIT_TYPE_Mortgage_count,bu_CREDIT_TYPE_Mortgage_percent,bu_CREDIT_TYPE_Real estate loan_count,bu_CREDIT_TYPE_Real estate loan_percent,bu_CREDIT_TYPE_Unknown type of loan_count,bu_CREDIT_TYPE_Unknown type of loan_percent
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
application_bureau_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,bu_CREDIT_TYPE_Microloan_count,bu_CREDIT_TYPE_Microloan_percent,bu_CREDIT_TYPE_Mobile operator loan_count,bu_CREDIT_TYPE_Mobile operator loan_percent,bu_CREDIT_TYPE_Mortgage_count,bu_CREDIT_TYPE_Mortgage_percent,bu_CREDIT_TYPE_Real estate loan_count,bu_CREDIT_TYPE_Real estate loan_percent,bu_CREDIT_TYPE_Unknown type of loan_count,bu_CREDIT_TYPE_Unknown type of loan_percent
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Write to csv files

In [28]:
X_train_1 = application_bureau_train.drop(["SK_ID_CURR", "TARGET"], axis=1)

X_test_1 = application_bureau_test.drop(["SK_ID_CURR"], axis=1)

# write to csv files
X_train_1.to_csv(os.path.join(OUT_DIR, "X_train_1.csv"), index=False)

X_test_1.to_csv(os.path.join(OUT_DIR, "X_test_1.csv"), index=False)

del X_train_1, X_test_1

## Load `previous_application.csv`, `POS_CASH_balance.csv`, `installments_payments.csv` and `credit_card_balance.csv `

In [32]:
previous_application = pd.read_csv(os.path.join(INP_DIR, "previous_application.csv"))

POS_CASH_balance = pd.read_csv(os.path.join(INP_DIR, "POS_CASH_balance.csv"))

installments_payments = pd.read_csv(os.path.join(INP_DIR, "installments_payments.csv"))

credit_card_balance = pd.read_csv(os.path.join(INP_DIR, "credit_card_balance.csv"))

## Aggregate table `POS_CASH_balance` by column `SK_ID_PREV`

In [44]:
POS_CASH_balance_agg = aggregate(POS_CASH_balance, by=["SK_ID_PREV"],
                                num_stats=NUM_STATS, cat_stats=CAT_STATS,
                                prefix="pc_")

print("POS_CASH_balance shape:", POS_CASH_balance.shape)
print("POS_CASH_balance_agg shape:", POS_CASH_balance_agg.shape)
POS_CASH_balance_agg.head()

POS_CASH_balance shape: (10001358, 8)
POS_CASH_balance_agg shape: (936325, 49)

,SK_ID_PREV,pc_SK_ID_CURR_count,pc_SK_ID_CURR_mean,pc_SK_ID_CURR_median,pc_SK_ID_CURR_min,pc_SK_ID_CURR_max,pc_MONTHS_BALANCE_count,pc_MONTHS_BALANCE_mean,pc_MONTHS_BALANCE_median,pc_MONTHS_BALANCE_min,...,pc_NAME_CONTRACT_STATUS_Completed_count,pc_NAME_CONTRACT_STATUS_Completed_percent,pc_NAME_CONTRACT_STATUS_Demand_count,pc_NAME_CONTRACT_STATUS_Demand_percent,pc_NAME_CONTRACT_STATUS_Returned to the store_count,pc_NAME_CONTRACT_STATUS_Returned to the store_percent,pc_NAME_CONTRACT_STATUS_Signed_count,pc_NAME_CONTRACT_STATUS_Signed_percent,pc_NAME_CONTRACT_STATUS_XNA_count,pc_NAME_CONTRACT_STATUS_XNA_percent
0,1000001,3,158271,158271,158271,158271,3,-9.0,-9.0,-10,...,1,0.333333,0,0.0,0,0.0,0,0.0,0,0.0
1,1000002,5,101962,101962,101962,101962,5,-52.0,-52.0,-54,...,1,0.200000,0,0.0,0,0.0,0,0.0,0,0.0
2,1000003,4,252457,252457,252457,252457,4,-2.5,-2.5,-4,...,0,0.000000,0,0.0,0,0.0,0,0.0,0,0.0
3,1000004,8,260094,260094,260094,260094,8,-25.5,-25.5,-29,...,1,0.125000,0,0.0,0,0.0,0,0.0,0,0.0
4,1000005,11,176456,176456,176456,176456,11,-51.0,-51.0,-56,...,1,0.090909,0,0.0,0,0.0,0,0.0,0,0.0

## Aggregate table `installments_payments.csv` by column `SK_ID_PREV`

In [45]:
installments_payments_agg = aggregate(installments_payments, by=["SK_ID_PREV"],
                                      num_stats=NUM_STATS, cat_stats=CAT_STATS,
                                      prefix="ip_")

print("installments_payments shape:", installments_payments.shape)
print("installments_payments_agg shape:", installments_payments_agg.shape)
installments_payments_agg.head()

No categorical columns in df
installments_payments shape: (13605401, 8)
installments_payments_agg shape: (997752, 36)

,SK_ID_PREV,ip_SK_ID_CURR_count,ip_SK_ID_CURR_mean,ip_SK_ID_CURR_median,ip_SK_ID_CURR_min,ip_SK_ID_CURR_max,ip_NUM_INSTALMENT_VERSION_count,ip_NUM_INSTALMENT_VERSION_mean,ip_NUM_INSTALMENT_VERSION_median,ip_NUM_INSTALMENT_VERSION_min,...,ip_AMT_INSTALMENT_count,ip_AMT_INSTALMENT_mean,ip_AMT_INSTALMENT_median,ip_AMT_INSTALMENT_min,ip_AMT_INSTALMENT_max,ip_AMT_PAYMENT_count,ip_AMT_PAYMENT_mean,ip_AMT_PAYMENT_median,ip_AMT_PAYMENT_min,ip_AMT_PAYMENT_max
0,1000001,2,158271,158271,158271,158271,2,1.500000,1.5,1.0,...,2,34221.712500,34221.7125,6404.31,62039.115,2,34221.712500,34221.7125,6404.31,62039.115
1,1000002,4,101962,101962,101962,101962,4,1.250000,1.0,1.0,...,4,9308.891250,6264.0000,6264.00,18443.565,4,9308.891250,6264.0000,6264.00,18443.565
2,1000003,3,252457,252457,252457,252457,3,1.000000,1.0,1.0,...,3,4951.350000,4951.3500,4951.35,4951.350,3,4951.350000,4951.3500,4951.35,4951.350
3,1000004,7,260094,260094,260094,260094,7,1.142857,1.0,1.0,...,7,4789.022143,3391.1100,3391.11,13176.495,7,4789.022143,3391.1100,3391.11,13176.495
4,1000005,11,176456,176456,176456,176456,11,1.000000,1.0,1.0,...,11,14703.210000,14713.6050,14599.26,14713.605,11,13365.609545,14713.6050,2.79,14713.605

In [41]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [42]:
installments_payments["SK_ID_PREV"].is_unique

False

In [43]:
installments_payments["SK_ID_CURR"].is_unique

False

In [ ]:
aggregate(bureau_balance, by=["SK_ID_BUREAU"], 
                               num_stats=NUM_STATS, cat_stats=CAT_STATS,
                               prefix="bb_")

In [ ]:
tmp = pd.DataFrame(np.random.randn(100, 3))
tmp["cat"] = np.random.choice(["a", "b", "c"], size=100)
tmp["id"] = ["a"]*25 + ["b"]*25 + ["c"]*50
tmp.head()

In [ ]:
tmp_agg = aggregate(tmp.drop([0, 1, 2], axis=1), ["id"], num_stats=NUM_STATS, 
                    cat_stats=CAT_STATS, prefix="tmp_")
tmp_agg.head()

In [ ]:
tmp_agg.astype?

In [ ]:
tmp_agg.columns