In [39]:
import os

import pandas as pd
import numpy as np

import ml_metrics
from sklearn.base import BaseEstimator, TransformerMixin

In [14]:
INP_DIR = "data/data_"

In [15]:
def change_dtype_ser(ser):
    
    if ser.dtype == int:
        return ser.astype(np.int32)
    
    if ser.dtype == float:
        return ser.astype(np.float32)
    
    if ser.dtype == np.object:
        return ser.astype("category")
    
    return ser
    

def change_dtype_df(df):
    """
    change types of columns to reduce memory size
    :param df: dataframe
    :return df: dataframe
    """
    memory = df.memory_usage().sum() / 10**6
    print("Memory usage before changing types %0.2f MB" % memory)

    for col in df.columns:
        df[col] = change_dtype_ser(df[col])

    memory = df.memory_usage().sum() / 10 ** 6
    print("Memory usage after changing types %0.2f MB" % memory)
    return df


def load_csv(filename):
    df = pd.read_csv(filename)
    df = change_dtype_df(df)
    return df

In [31]:
X_2016_04 = load_csv(os.path.join(INP_DIR, "X_2016_04.csv"))
y_2016_04 = load_csv(os.path.join(INP_DIR, "y_2016_04.csv"))

X_2016_04 = X_2016_04.drop(["ncodpers"], axis=1)
y_2016_04 = y_2016_04.drop(["ncodpers"], axis=1)

X_2016_04.shape, y_2016_04.shape

Memory usage before changing types 19.22 MB
Memory usage after changing types 9.28 MB
Memory usage before changing types 2.98 MB
Memory usage after changing types 1.49 MB

((21917, 113), (21917, 16))

In [32]:
X_2016_04.head()

,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,...,ind_hip_fin_ult1_LAG4,ind_plan_fin_ult1_LAG4,ind_pres_fin_ult1_LAG4,ind_reca_fin_ult1_LAG4,ind_tjcr_fin_ult1_LAG4,ind_valo_fin_ult1_LAG4,ind_viv_fin_ult1_LAG4,ind_nomina_ult1_LAG4,ind_nom_pens_ult1_LAG4,ind_recibo_ult1_LAG4
0,ES,V,63.0,-7773,False,255.0,A,1,A,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ES,V,56.0,-7773,False,253.0,A,1,A,True,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,ES,V,61.0,-7773,False,255.0,A,1,A,True,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,ES,H,52.0,-7773,False,255.0,A,1,A,True,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,ES,H,56.0,-7773,False,255.0,A,1,A,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
y_2016_04.head()

,ind_recibo_ult1,ind_nom_pens_ult1,ind_nomina_ult1,ind_cco_fin_ult1,ind_tjcr_fin_ult1,ind_cno_fin_ult1,ind_ecue_fin_ult1,ind_dela_fin_ult1,ind_reca_fin_ult1,ind_ctma_fin_ult1,ind_valo_fin_ult1,ind_ctop_fin_ult1,ind_fond_fin_ult1,ind_deco_fin_ult1,ind_ctpp_fin_ult1,ind_plan_fin_ult1
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [34]:
X_2016_05 = load_csv(os.path.join(INP_DIR, "X_2016_05.csv"))
y_2016_05 = load_csv(os.path.join(INP_DIR, "y_2016_05.csv"))

X_2016_05 = X_2016_05.drop(["ncodpers"], axis=1)
y_2016_05 = y_2016_05.drop(["ncodpers"], axis=1)

X_2016_05.shape, y_2016_05.shape

Memory usage before changing types 18.90 MB
Memory usage after changing types 9.12 MB
Memory usage before changing types 2.93 MB
Memory usage after changing types 1.47 MB

((21551, 113), (21551, 16))

In [35]:
X_2016_05.head()

,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,...,ind_hip_fin_ult1_LAG4,ind_plan_fin_ult1_LAG4,ind_pres_fin_ult1_LAG4,ind_reca_fin_ult1_LAG4,ind_tjcr_fin_ult1_LAG4,ind_valo_fin_ult1_LAG4,ind_viv_fin_ult1_LAG4,ind_nomina_ult1_LAG4,ind_nom_pens_ult1_LAG4,ind_recibo_ult1_LAG4
0,ES,V,56.0,-7803,False,255.0,A,1,A,True,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,ES,H,71.0,-7803,False,256.0,A,1,A,True,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,ES,V,46.0,-7803,False,256.0,A,1,A,True,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,ES,V,63.0,-7803,False,256.0,A,1,A,True,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,ES,V,55.0,-7803,False,250.0,A,1,A,True,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

In [36]:
y_2016_05.head()

,ind_recibo_ult1,ind_nom_pens_ult1,ind_nomina_ult1,ind_cco_fin_ult1,ind_tjcr_fin_ult1,ind_cno_fin_ult1,ind_ecue_fin_ult1,ind_dela_fin_ult1,ind_reca_fin_ult1,ind_ctma_fin_ult1,ind_valo_fin_ult1,ind_ctop_fin_ult1,ind_fond_fin_ult1,ind_deco_fin_ult1,ind_ctpp_fin_ult1,ind_plan_fin_ult1
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [37]:
X_2016_06 = load_csv(os.path.join(INP_DIR, "X_2016_06.csv"))

ncodpers_test = X_2016_06["ncodpers"]
X_2016_06 = X_2016_06.drop(["ncodpers"], axis=1)

X_2016_06.shape

Memory usage before changing types 815.27 MB
Memory usage after changing types 394.17 MB

(929615, 113)

In [38]:
X_2016_06.head()

,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,...,ind_hip_fin_ult1_LAG4,ind_plan_fin_ult1_LAG4,ind_pres_fin_ult1_LAG4,ind_reca_fin_ult1_LAG4,ind_tjcr_fin_ult1_LAG4,ind_valo_fin_ult1_LAG4,ind_viv_fin_ult1_LAG4,ind_nomina_ult1_LAG4,ind_nom_pens_ult1_LAG4,ind_recibo_ult1_LAG4
0,ES,V,56.0,-7834,False,256.0,A,1,A,True,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,ES,H,36.0,-1035,False,34.0,A,1,I,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ES,V,22.0,-1035,False,34.0,A,1,A,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ES,H,22.0,-1035,False,34.0,A,1,I,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ES,H,22.0,-1035,False,34.0,A,1,I,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
class OneHotEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, max_classes=20, to_array=False):
        self._to_array = to_array
        self._max_classes = max_classes
        
        
    def fit(self, train_df):
        df_cat = train_df.select_dtypes(["object", "category"])
        self._cat_cols = df_cat.columns.to_list()
        
        self._cat_cols = [col for col in self._cat_cols if train_df[col].nunique() <= self._max_classes]
        print("Columns to one-hot encode:", self._cat_cols)
        df_cat = train_df[self._cat_cols]
        
        if len(self._cat_cols) > 0:
            self._cat_cols_ohe = pd.get_dummies(df_cat, drop_first=True).columns.to_list()
        else:
            self._cat_cols_ohe = []
        return self
    
    def transform(self, df):
        df = df.copy()
        if len(self._cat_cols) == 0:
            print("No cat cols in df_train, so do nothing.")
            return df
        
        df_cat = df[self._cat_cols]
        print("df_cat.columns", df_cat.columns)
        
        # one-hot encode
        df_cat = pd.get_dummies(df_cat)
        # drop cols that are present in test_df but absent in train_df
        cols_to_drop = [col for col in df_cat.columns if col not in self._cat_cols_ohe]
        print("cols_to_drop:", cols_to_drop)
        df_cat = df_cat.drop(cols_to_drop, axis="columns")
        
        # change to float32
        for col in df_cat.columns:
            df_cat[col] = df_cat[col].astype("float32")
        
        # if some some colums are absent in test but present in train, make them all zero 
        cat_cols_ohe = df_cat.columns.to_list()
        for col in self._cat_cols_ohe:
            if col not in cat_cols_ohe:
                df_cat[col] = 0
                df_cat[col] = df_cat[col].astype(np.uint8)
        
        num_cols = [col for col in df.columns if col not in self._cat_cols]
        df_num = df[num_cols]
        
        df = pd.concat([df_num, df_cat], axis="columns")
        self._features = df.columns.to_list()
        if self._to_array:
            return df.values.astype(np.float32)
        else:
            return df


class LabelEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, to_array=False):
        self._to_array = to_array
    
    def fit(self, df_train):
        all_cols = df_train.columns.to_list()
        cat_cols = df_train.select_dtypes(["category", "object"]).columns.to_list()
        
        self._cat_col_idx = [i for i, col in enumerate(all_cols) if col in cat_cols]
        
        self._label_maps = {}
        self._missing_imputers = {}
        for col in cat_cols:
            label = df_train[col].unique()
            self._label_maps[col] = {c: n for n, c in enumerate(label)}
            
            mode_label = df_train[col].mode().iloc[0]
            self._missing_imputers[col] = self._label_maps[col][mode_label]
        
        print("Cols to label encode:", list(self._label_maps.keys()))
        return self
    
    def transform(self, df):
        df = df.copy()
        for col, label_map in self._label_maps.items():
            df[col] = df[col].map(label_map)
            if df[col].isnull().any():
                df[col] = df[col].astype(np.float32).fillna(self._missing_imputers[col])
                
        self._features = df.columns.to_list()
        if self._to_array:
            return df.values.astype(np.float32)
        else:
            return df
        
    def get_cat_cols(self):
        return self._cat_col_idx

In [87]:
ohe = OneHotEncoder()
ohe.fit(X_2016_04)
X_train = ohe.transform(X_2016_04)
X_val = ohe.transform(X_2016_05)

le = LabelEncoder()
le.fit(X_train)
X_train = le.transform(X_train)
X_val = le.transform(X_val)

Columns to one-hot encode: ['sexo', 'indrel', 'tiprel_1mes', 'segmento']
df_cat.columns Index(['sexo', 'indrel', 'tiprel_1mes', 'segmento'], dtype='object')
cols_to_drop: ['sexo_H', 'indrel_A', 'tiprel_1mes_A', 'segmento_01 - TOP']
df_cat.columns Index(['sexo', 'indrel', 'tiprel_1mes', 'segmento'], dtype='object')
cols_to_drop: ['sexo_H', 'indrel_A', 'tiprel_1mes_A', 'segmento_01 - TOP']
Cols to label encode: ['pais_residencia', 'canal_entrada']

In [83]:
cols_train = X_train.columns
cols_val = X_val.columns

In [90]:
cols_train.to_list()

['pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'ind_nuevo',
 'antiguedad',
 'indrel',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'canal_entrada',
 'indfall',
 'cod_prov',
 'ind_actividad_cliente',
 'renta',
 'segmento',
 'ind_ahor_fin_ult1_LAG1',
 'ind_aval_fin_ult1_LAG1',
 'ind_cco_fin_ult1_LAG1',
 'ind_cder_fin_ult1_LAG1',
 'ind_cno_fin_ult1_LAG1',
 'ind_ctju_fin_ult1_LAG1',
 'ind_ctma_fin_ult1_LAG1',
 'ind_ctop_fin_ult1_LAG1',
 'ind_ctpp_fin_ult1_LAG1',
 'ind_deco_fin_ult1_LAG1',
 'ind_deme_fin_ult1_LAG1',
 'ind_dela_fin_ult1_LAG1',
 'ind_ecue_fin_ult1_LAG1',
 'ind_fond_fin_ult1_LAG1',
 'ind_hip_fin_ult1_LAG1',
 'ind_plan_fin_ult1_LAG1',
 'ind_pres_fin_ult1_LAG1',
 'ind_reca_fin_ult1_LAG1',
 'ind_tjcr_fin_ult1_LAG1',
 'ind_valo_fin_ult1_LAG1',
 'ind_viv_fin_ult1_LAG1',
 'ind_nomina_ult1_LAG1',
 'ind_nom_pens_ult1_LAG1',
 'ind_recibo_ult1_LAG1',
 'ind_ahor_fin_ult1_LAG2',
 'ind_aval_fin_ult1_LAG2',
 'ind_cco_fin_ult1_LAG2',
 'ind_cder_fin_ult1_LAG2',
 'ind_cno_fin_ult1_LAG2',
 'ind_ctju_fin_ult1_LAG2',
 'ind_ctma_fin_ult1_LAG2',
 'ind_ctop_fin_ult1_LAG2',
 'ind_ctpp_fin_ult1_LAG2',
 'ind_deco_fin_ult1_LAG2',
 'ind_deme_fin_ult1_LAG2',
 'ind_dela_fin_ult1_LAG2',
 'ind_ecue_fin_ult1_LAG2',
 'ind_fond_fin_ult1_LAG2',
 'ind_hip_fin_ult1_LAG2',
 'ind_plan_fin_ult1_LAG2',
 'ind_pres_fin_ult1_LAG2',
 'ind_reca_fin_ult1_LAG2',
 'ind_tjcr_fin_ult1_LAG2',
 'ind_valo_fin_ult1_LAG2',
 'ind_viv_fin_ult1_LAG2',
 'ind_nomina_ult1_LAG2',
 'ind_nom_pens_ult1_LAG2',
 'ind_recibo_ult1_LAG2',
 'ind_ahor_fin_ult1_LAG3',
 'ind_aval_fin_ult1_LAG3',
 'ind_cco_fin_ult1_LAG3',
 'ind_cder_fin_ult1_LAG3',
 'ind_cno_fin_ult1_LAG3',
 'ind_ctju_fin_ult1_LAG3',
 'ind_ctma_fin_ult1_LAG3',
 'ind_ctop_fin_ult1_LAG3',
 'ind_ctpp_fin_ult1_LAG3',
 'ind_deco_fin_ult1_LAG3',
 'ind_deme_fin_ult1_LAG3',
 'ind_dela_fin_ult1_LAG3',
 'ind_ecue_fin_ult1_LAG3',
 'ind_fond_fin_ult1_LAG3',
 'ind_hip_fin_ult1_LAG3',
 'ind_plan_fin_ult1_LAG3',
 'ind_pres_fin_ult1_LAG3',
 'ind_reca_fin_ult1_LAG3',
 'ind_tjcr_fin_ult1_LAG3',
 'ind_valo_fin_ult1_LAG3',
 'ind_viv_fin_ult1_LAG3',
 'ind_nomina_ult1_LAG3',
 'ind_nom_pens_ult1_LAG3',
 'ind_recibo_ult1_LAG3',
 'ind_ahor_fin_ult1_LAG4',
 'ind_aval_fin_ult1_LAG4',
 'ind_cco_fin_ult1_LAG4',
 'ind_cder_fin_ult1_LAG4',
 'ind_cno_fin_ult1_LAG4',
 'ind_ctju_fin_ult1_LAG4',
 'ind_ctma_fin_ult1_LAG4',
 'ind_ctop_fin_ult1_LAG4',
 'ind_ctpp_fin_ult1_LAG4',
 'ind_deco_fin_ult1_LAG4',
 'ind_deme_fin_ult1_LAG4',
 'ind_dela_fin_ult1_LAG4',
 'ind_ecue_fin_ult1_LAG4',
 'ind_fond_fin_ult1_LAG4',
 'ind_hip_fin_ult1_LAG4',
 'ind_plan_fin_ult1_LAG4',
 'ind_pres_fin_ult1_LAG4',
 'ind_reca_fin_ult1_LAG4',
 'ind_tjcr_fin_ult1_LAG4',
 'ind_valo_fin_ult1_LAG4',
 'ind_viv_fin_ult1_LAG4',
 'ind_nomina_ult1_LAG4',
 'ind_nom_pens_ult1_LAG4',
 'ind_recibo_ult1_LAG4']

In [88]:
X_val.shape

(21551, 115)

In [89]:
X_train.shape

(21917, 115)